# number of gunicorn worker processes
NUM_WORKERS=3
# Flask secret key
SECRET_KEY=FLASK_SECRET_KEY

# TCP port where the rest service is going to be listening.
REST_PORT=9000

# How many days should pass before a login session expires
REST_ACCESS_TOKEN_EXPIRES_DAYS=1


# Host where a cassandra instance can be found
CASSANDRA_HOST=cassandra

BUCKET_SIZE=25000

# Cassandra keyspaces:

# Raw cassandra keyspace - exporter will put raw blockchain data here. REST will read some basic information from here.
RAW_KEYSPACE=btc_raw

# Keyspace that contains transformed data (i.e. all data that is read by the REST service)
TARGET_KEYSPACE=btc_transformed

# Keyspace containing tag information
TAG_KEYSPACE=tagpacks


