cassandra.host = ENTER_HOST_NAME
cassandra.keyspace = ENTER_KEYSPACE_NAME
play.filters.enabled = [
  play.filters.csrf.CSRFFilter,
  play.filters.headers.SecurityHeadersFilter,
  play.filters.hosts.AllowedHostsFilter
]
play.filters.hosts {
  # allow requests to localhost and docker bridge network
  allowed = ["localhost:9000", 
             "127.0.0.1:9000",
             "172.17.0.1:9000", # docker on linux
             "docker.for.mac.localhost:9000"] # docker on mac
}
