openapi: 3.0.0
info:
  contact:
    email: contact@ikna.io
    name: Iknaio Cryptoasset Analytics GmbH
  description: GraphSense API provides programmatic access to various ledgers' addresses, entities, blocks, transactions and tags for automated and highly efficient forensics tasks.
  title: GraphSense API
  version: 1.13.0dev5
servers:
  - url: https://api.ikna.io
paths:
  /search:
    get:
      operationId: search
      parameters:
        - description: The cryptocurrency (e.g., btc)
          example: btc
          explode: true
          in: query
          name: currency
          required: false
          schema:
            format: string
            type: string
          style: form
        - description: It can be (the beginning of) an address, a transaction or a label
          example: foo
          explode: true
          in: query
          name: q
          required: true
          schema:
            minLength: 2
            type: string
          style: form
        - description: Maximum number of search results
          example: 10
          explode: true
          in: query
          name: limit
          required: false
          schema:
            default: 10
            format: int32
            maximum: 100
            type: integer
          style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                search_result_1Archive:
                  summary: search result for '1Archive'
                  value:
                    currencies:
                      addresses:
                        - 1Archive1n2C579dMsAu3iC6tWzuQJz8dN
                        - 1ArchiveisY6i4Hpostivemate1sVRhQ71
                        - 1ArchiveiskxdThieferHRHi1592TqsV4c
                      currency: btc
                      txs: []
                    labels: []
                search_result_04d9200:
                  summary: search result for '04d9200'
                  value:
                    currencies:
                      addresses: []
                      currency: btc
                      txs:
                        - 04d920038d78be339694fe28116789dc49509cc9f47724d4ebcf574261caee8c,
                        - 04d920094700443cab848544411a9a6d6628ab0d8502a796fbc70989b7991ccf
                    labels: []
                search_result_internet:
                  summary: search result for 'internet'
                  value:
                    currencies:
                      addresses: []
                      currency: btc
                      txs: []
                    labels:
                      - Internet Archive
              schema:
                $ref: '#/components/schemas/search_result'
          description: OK
      summary: Returns matching addresses, transactions and labels
      tags:
        - general
      x-openapi-router-controller: openapi_server.controllers.general_controller
  /stats:
    get:
      operationId: get_statistics
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stats'
          description: OK
      summary: Get statistics of supported currencies
      tags:
        - general
      x-openapi-router-controller: openapi_server.controllers.general_controller
  /tags:
    get:
      operationId: list_address_tags
      parameters:
        - description: The label of an entity
          example: cimedy
          explode: true
          in: query
          name: label
          required: true
          schema:
            type: string
          style: form
        - description: Resumption token for retrieving the next page
          example: ""
          explode: true
          in: query
          name: page
          required: false
          schema:
            type: string
          style: form
        - description: Number of items returned in a single page
          example: 10
          explode: true
          in: query
          name: pagesize
          required: false
          schema:
            format: int32
            minimum: 1
            type: integer
          style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                internetarchive:
                  $ref: '#/components/examples/internetarchive'
              schema:
                $ref: '#/components/schemas/address_tags'
          description: OK
      summary: Returns address tags associated with a given label
      tags:
        - tags
      x-openapi-router-controller: openapi_server.controllers.tags_controller
  /tags/actors/{actor}:
    get:
      operationId: get_actor
      parameters:
        - description: actor id
          example: binance
          explode: false
          in: path
          name: actor
          required: true
          schema:
            format: string
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/actor'
          description: OK
      summary: Returns an actor given its unique id or (unique) label
      tags:
        - tags
      x-openapi-router-controller: openapi_server.controllers.tags_controller
  /tags/actors/{actor}/tags:
    get:
      operationId: get_actor_tags
      parameters:
        - description: actor id
          example: binance
          explode: false
          in: path
          name: actor
          required: true
          schema:
            format: string
            type: string
          style: simple
        - description: Resumption token for retrieving the next page
          example: ""
          explode: true
          in: query
          name: page
          required: false
          schema:
            type: string
          style: form
        - description: Number of items returned in a single page
          example: 10
          explode: true
          in: query
          name: pagesize
          required: false
          schema:
            format: int32
            minimum: 1
            type: integer
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/address_tags'
          description: OK
      summary: Returns the address tags for a given actor
      tags:
        - tags
      x-openapi-router-controller: openapi_server.controllers.tags_controller
  /tags/report-tag:
    post:
      operationId: report_tag
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/user_reported_tag'
        required: true
        x-body-name: body
      responses:
        "200":
          description: Success
        "400":
          description: Disabled or wrong input
      summary: Users can use this endpoint to report a missing annotation.
      tags:
        - tags
      x-openapi-router-controller: openapi_server.controllers.tags_controller
      x-codegen-request-body-name: body
  /tags/taxonomies:
    get:
      operationId: list_taxonomies
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/taxonomy'
                type: array
          description: OK
      summary: Returns the supported taxonomies
      tags:
        - tags
      x-openapi-router-controller: openapi_server.controllers.tags_controller
  /tags/taxonomies/{taxonomy}/concepts:
    get:
      operationId: list_concepts
      parameters:
        - description: The taxonomy
          example: concept
          explode: false
          in: path
          name: taxonomy
          required: true
          schema:
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/concept'
                type: array
          description: OK
      summary: Returns the supported concepts of a taxonomy
      tags:
        - tags
      x-openapi-router-controller: openapi_server.controllers.tags_controller
  /{currency}/addresses/{address}:
    get:
      operationId: get_address
      parameters:
        - description: The cryptocurrency code (e.g., btc)
          example: btc
          explode: false
          in: path
          name: currency
          required: true
          schema:
            format: string
            type: string
          style: simple
        - description: The cryptocurrency address
          example: 1Archive1n2C579dMsAu3iC6tWzuQJz8dN
          explode: false
          in: path
          name: address
          required: true
          schema:
            $ref: '#/components/schemas/address_id'
          style: simple
        - description: Whether to include information about the actor behind the address
          explode: true
          in: query
          name: include_actors
          required: false
          schema:
            default: true
            type: boolean
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/address'
          description: OK
      summary: Get an address
      tags:
        - addresses
      x-openapi-router-controller: openapi_server.controllers.addresses_controller
  /{currency}/addresses/{address}/entity:
    get:
      operationId: get_address_entity
      parameters:
        - description: The cryptocurrency code (e.g., btc)
          example: btc
          explode: false
          in: path
          name: currency
          required: true
          schema:
            format: string
            type: string
          style: simple
        - description: The cryptocurrency address
          example: 1Archive1n2C579dMsAu3iC6tWzuQJz8dN
          explode: false
          in: path
          name: address
          required: true
          schema:
            $ref: '#/components/schemas/address_id'
          style: simple
        - description: Whether to include information about the actor behind the address
          explode: true
          in: query
          name: include_actors
          required: false
          schema:
            default: true
            type: boolean
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/entity'
          description: OK
      summary: Get the entity of an address
      tags:
        - addresses
      x-openapi-router-controller: openapi_server.controllers.addresses_controller
  /{currency}/addresses/{address}/links:
    get:
      operationId: list_address_links
      parameters:
        - description: The cryptocurrency code (e.g., btc)
          example: btc
          explode: false
          in: path
          name: currency
          required: true
          schema:
            format: string
            type: string
          style: simple
        - description: The cryptocurrency address
          example: 1Archive1n2C579dMsAu3iC6tWzuQJz8dN
          explode: false
          in: path
          name: address
          required: true
          schema:
            $ref: '#/components/schemas/address_id'
          style: simple
        - description: Neighbor address
          example: 1FKCzy3BEtiZDhRDtivp7Y7RVb9edg5BH7
          explode: true
          in: query
          name: neighbor
          required: true
          schema:
            $ref: '#/components/schemas/address_id'
          style: form
        - description: Return transactions starting from given height
          example: 1
          explode: true
          in: query
          name: min_height
          required: false
          schema:
            $ref: '#/components/schemas/height'
          style: form
        - description: Return transactions up to (including) given height
          example: 2
          explode: true
          in: query
          name: max_height
          required: false
          schema:
            $ref: '#/components/schemas/height'
          style: form
        - description: min date of txs
          example: 2017-07-21T17:32:28Z
          explode: true
          in: query
          name: min_date
          required: false
          schema:
            $ref: '#/components/schemas/dateTime'
          style: form
        - description: max date of txs
          example: 2017-07-21T17:32:28Z
          explode: true
          in: query
          name: max_date
          required: false
          schema:
            $ref: '#/components/schemas/dateTime'
          style: form
        - description: Sorting order
          example: desc
          explode: true
          in: query
          name: order
          required: false
          schema:
            default: desc
            enum:
              - asc
              - desc
            type: string
          style: form
        - description: Return transactions of given token or base currency
          example: WETH
          explode: true
          in: query
          name: token_currency
          required: false
          schema:
            type: string
          style: form
        - description: Resumption token for retrieving the next page
          example: ""
          explode: true
          in: query
          name: page
          required: false
          schema:
            type: string
          style: form
        - description: Number of items returned in a single page
          example: 10
          explode: true
          in: query
          name: pagesize
          required: false
          schema:
            format: int32
            minimum: 1
            type: integer
          style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                links_internetarchive:
                  $ref: '#/components/examples/links_internetarchive'
              schema:
                $ref: '#/components/schemas/links'
          description: OK
      summary: Get outgoing transactions between two addresses
      tags:
        - addresses
      x-openapi-router-controller: openapi_server.controllers.addresses_controller
  /{currency}/addresses/{address}/neighbors:
    get:
      operationId: list_address_neighbors
      parameters:
        - description: The cryptocurrency code (e.g., btc)
          example: btc
          explode: false
          in: path
          name: currency
          required: true
          schema:
            format: string
            type: string
          style: simple
        - description: The cryptocurrency address
          example: 1Archive1n2C579dMsAu3iC6tWzuQJz8dN
          explode: false
          in: path
          name: address
          required: true
          schema:
            $ref: '#/components/schemas/address_id'
          style: simple
        - description: Incoming or outgoing neighbors
          example: out
          explode: true
          in: query
          name: direction
          required: true
          schema:
            enum:
              - in
              - out
            type: string
          style: form
        - description: Restrict result to given set of comma separated addresses
          explode: true
          in: query
          name: only_ids
          required: false
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Whether to include labels of first page of address tags
          explode: true
          in: query
          name: include_labels
          required: false
          schema:
            default: false
            type: boolean
          style: form
        - description: Whether to include information about the actor behind the address
          explode: true
          in: query
          name: include_actors
          required: false
          schema:
            default: true
            type: boolean
          style: form
        - description: Resumption token for retrieving the next page
          example: ""
          explode: true
          in: query
          name: page
          required: false
          schema:
            type: string
          style: form
        - description: Number of items returned in a single page
          example: 10
          explode: true
          in: query
          name: pagesize
          required: false
          schema:
            format: int32
            minimum: 1
            type: integer
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/neighbor_addresses'
          description: OK
      summary: Get an address's neighbors in the address graph
      tags:
        - addresses
      x-openapi-router-controller: openapi_server.controllers.addresses_controller
  /{currency}/addresses/{address}/tag_summary:
    get:
      operationId: get_tag_summary_by_address
      parameters:
        - description: The cryptocurrency code (e.g., btc)
          example: btc
          explode: false
          in: path
          name: currency
          required: true
          schema:
            format: string
            type: string
          style: simple
        - description: The cryptocurrency address
          example: 1Archive1n2C579dMsAu3iC6tWzuQJz8dN
          explode: false
          in: path
          name: address
          required: true
          schema:
            $ref: '#/components/schemas/address_id'
          style: simple
        - description: If the best cluster tag should be inherited to the address level, often helpful for exchanges where not every address is tagged.
          explode: true
          in: query
          name: include_best_cluster_tag
          required: false
          schema:
            default: false
            type: boolean
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tag_summary'
          description: OK
      summary: Get attribution tag summary for a given address
      tags:
        - addresses
      x-openapi-router-controller: openapi_server.controllers.addresses_controller
  /{currency}/addresses/{address}/tags:
    get:
      operationId: list_tags_by_address
      parameters:
        - description: The cryptocurrency code (e.g., btc)
          example: btc
          explode: false
          in: path
          name: currency
          required: true
          schema:
            format: string
            type: string
          style: simple
        - description: The cryptocurrency address
          example: 1Archive1n2C579dMsAu3iC6tWzuQJz8dN
          explode: false
          in: path
          name: address
          required: true
          schema:
            $ref: '#/components/schemas/address_id'
          style: simple
        - description: Resumption token for retrieving the next page
          example: ""
          explode: true
          in: query
          name: page
          required: false
          schema:
            type: string
          style: form
        - description: Number of items returned in a single page
          example: 10
          explode: true
          in: query
          name: pagesize
          required: false
          schema:
            format: int32
            minimum: 1
            type: integer
          style: form
        - description: If the best cluster tag should be inherited to the address level, often helpful for exchanges where not every address is tagged.
          explode: true
          in: query
          name: include_best_cluster_tag
          required: false
          schema:
            default: false
            type: boolean
          style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                internetarchive:
                  $ref: '#/components/examples/internetarchive_addresses'
              schema:
                $ref: '#/components/schemas/address_tags'
          description: OK
      summary: Get attribution tags for a given address
      tags:
        - addresses
      x-openapi-router-controller: openapi_server.controllers.addresses_controller
  /{currency}/addresses/{address}/txs:
    get:
      operationId: list_address_txs
      parameters:
        - description: The cryptocurrency code (e.g., btc)
          example: btc
          explode: false
          in: path
          name: currency
          required: true
          schema:
            format: string
            type: string
          style: simple
        - description: The cryptocurrency address
          example: 1Archive1n2C579dMsAu3iC6tWzuQJz8dN
          explode: false
          in: path
          name: address
          required: true
          schema:
            $ref: '#/components/schemas/address_id'
          style: simple
        - description: Incoming or outgoing transactions
          example: out
          explode: true
          in: query
          name: direction
          required: false
          schema:
            enum:
              - in
              - out
            type: string
          style: form
        - description: Return transactions starting from given height
          example: 1
          explode: true
          in: query
          name: min_height
          required: false
          schema:
            $ref: '#/components/schemas/height'
          style: form
        - description: Return transactions up to (including) given height
          example: 2
          explode: true
          in: query
          name: max_height
          required: false
          schema:
            $ref: '#/components/schemas/height'
          style: form
        - description: min date of txs
          example: 2017-07-21T17:32:28Z
          explode: true
          in: query
          name: min_date
          required: false
          schema:
            $ref: '#/components/schemas/dateTime'
          style: form
        - description: max date of txs
          example: 2017-07-21T17:32:28Z
          explode: true
          in: query
          name: max_date
          required: false
          schema:
            $ref: '#/components/schemas/dateTime'
          style: form
        - description: Sorting order
          example: desc
          explode: true
          in: query
          name: order
          required: false
          schema:
            default: desc
            enum:
              - asc
              - desc
            type: string
          style: form
        - description: Return transactions of given token or base currency
          example: WETH
          explode: true
          in: query
          name: token_currency
          required: false
          schema:
            type: string
          style: form
        - description: Resumption token for retrieving the next page
          example: ""
          explode: true
          in: query
          name: page
          required: false
          schema:
            type: string
          style: form
        - description: Number of items returned in a single page
          example: 10
          explode: true
          in: query
          name: pagesize
          required: false
          schema:
            format: int32
            minimum: 1
            type: integer
          style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                txs_internetarchive:
                  $ref: '#/components/examples/txs_internetarchive'
              schema:
                $ref: '#/components/schemas/address_txs'
          description: OK
      summary: Get all transactions an address has been involved in
      tags:
        - addresses
      x-openapi-router-controller: openapi_server.controllers.addresses_controller
  /{currency}/block_by_date/{date}:
    get:
      operationId: get_block_by_date
      parameters:
        - description: The cryptocurrency code (e.g., btc)
          example: btc
          explode: false
          in: path
          name: currency
          required: true
          schema:
            format: string
            type: string
          style: simple
        - description: The time of the block
          example: 2017-07-21T17:32:28Z
          explode: false
          in: path
          name: date
          required: true
          schema:
            $ref: '#/components/schemas/dateTime'
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/block_at_date'
          description: OK
      summary: Get the closest blocks given a timestamp
      tags:
        - blocks
      x-openapi-router-controller: openapi_server.controllers.blocks_controller
  /{currency}/blocks/{height}:
    get:
      operationId: get_block
      parameters:
        - description: The cryptocurrency code (e.g., btc)
          example: btc
          explode: false
          in: path
          name: currency
          required: true
          schema:
            format: string
            type: string
          style: simple
        - description: The block height
          example: 1
          explode: false
          in: path
          name: height
          required: true
          schema:
            $ref: '#/components/schemas/height'
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/block'
          description: OK
      summary: Get a block by its height
      tags:
        - blocks
      x-openapi-router-controller: openapi_server.controllers.blocks_controller
  /{currency}/blocks/{height}/txs:
    get:
      operationId: list_block_txs
      parameters:
        - description: The cryptocurrency code (e.g., btc)
          example: btc
          explode: false
          in: path
          name: currency
          required: true
          schema:
            format: string
            type: string
          style: simple
        - description: The block height
          example: 1
          explode: false
          in: path
          name: height
          required: true
          schema:
            $ref: '#/components/schemas/height'
          style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                tx_utxo_array:
                  $ref: '#/components/examples/txs_utxo'
                tx_account_array:
                  $ref: '#/components/examples/txs_account'
              schema:
                items:
                  $ref: '#/components/schemas/tx'
                type: array
          description: OK
      summary: Get block transactions
      tags:
        - blocks
      x-openapi-router-controller: openapi_server.controllers.blocks_controller
  /{currency}/bulk.csv/{operation}:
    post:
      operationId: bulk_csv
      parameters:
        - description: The cryptocurrency code (e.g., btc)
          example: btc
          explode: false
          in: path
          name: currency
          required: true
          schema:
            format: string
            type: string
          style: simple
        - description: The operation to execute in bulk
          example: get_block
          explode: false
          in: path
          name: operation
          required: true
          schema:
            enum:
              - get_block
              - get_block_by_date
              - list_block_txs
              - get_address
              - list_address_txs
              - list_tags_by_address
              - get_tag_summary_by_address
              - list_address_neighbors
              - get_address_entity
              - list_address_links
              - get_entity
              - list_address_tags_by_entity
              - list_entity_neighbors
              - list_entity_txs
              - list_entity_links
              - list_entity_addresses
              - get_tx
              - list_token_txs
              - get_tx_io
              - get_spent_in_txs
              - get_spending_txs
              - get_exchange_rates
            type: string
          style: simple
        - description: Number of pages to retrieve for operations with list response
          example: 1
          explode: true
          in: query
          name: num_pages
          required: true
          schema:
            format: int32
            type: integer
          style: form
      requestBody:
        content:
          application/json:
            example:
              height:
                - 1
                - 2
                - 3
            schema:
              type: object
        description: Map of the operation's parameter names to (arrays of) values
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            text/csv:
              schema:
                type: string
          description: OK
      summary: Get data as CSV in bulk
      tags:
        - bulk
      x-streamed: true
      x-openapi-router-controller: openapi_server.controllers.bulk_controller
      x-codegen-request-body-name: body
  /{currency}/bulk.json/{operation}:
    post:
      operationId: bulk_json
      parameters:
        - description: The cryptocurrency code (e.g., btc)
          example: btc
          explode: false
          in: path
          name: currency
          required: true
          schema:
            format: string
            type: string
          style: simple
        - description: The operation to execute in bulk
          example: get_block
          explode: false
          in: path
          name: operation
          required: true
          schema:
            enum:
              - get_block
              - get_block_by_date
              - list_block_txs
              - get_address
              - list_address_txs
              - list_tags_by_address
              - get_tag_summary_by_address
              - list_address_neighbors
              - get_address_entity
              - list_address_links
              - get_entity
              - list_address_tags_by_entity
              - list_entity_neighbors
              - list_entity_txs
              - list_entity_links
              - list_entity_addresses
              - get_tx
              - list_token_txs
              - get_tx_io
              - get_spent_in_txs
              - get_spending_txs
              - get_exchange_rates
            type: string
          style: simple
        - description: Number of pages to retrieve for operations with list response
          example: 1
          explode: true
          in: query
          name: num_pages
          required: true
          schema:
            format: int32
            type: integer
          style: form
      requestBody:
        content:
          application/json:
            example:
              height:
                - 1
                - 2
                - 3
            schema:
              type: object
        description: Map of the operation's parameter names to (arrays of) values
        required: true
        x-body-name: body
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  additionalProperties: true
                  type: object
                type: array
          description: OK
      summary: Get data as JSON in bulk
      tags:
        - bulk
      x-streamed: true
      x-openapi-router-controller: openapi_server.controllers.bulk_controller
      x-codegen-request-body-name: body
  /{currency}/entities/{entity}:
    get:
      operationId: get_entity
      parameters:
        - description: The cryptocurrency code (e.g., btc)
          example: btc
          explode: false
          in: path
          name: currency
          required: true
          schema:
            format: string
            type: string
          style: simple
        - description: The entity ID
          example: 67065
          explode: false
          in: path
          name: entity
          required: true
          schema:
            $ref: '#/components/schemas/entity_id'
          style: simple
        - description: Whether to exclude the best address tag
          explode: true
          in: query
          name: exclude_best_address_tag
          required: false
          schema:
            default: false
            type: boolean
          style: form
        - description: Whether to include information about the actor behind the address
          explode: true
          in: query
          name: include_actors
          required: false
          schema:
            default: false
            type: boolean
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/entity'
          description: OK
      summary: Get an entity
      tags:
        - entities
      x-openapi-router-controller: openapi_server.controllers.entities_controller
  /{currency}/entities/{entity}/addresses:
    get:
      operationId: list_entity_addresses
      parameters:
        - description: The cryptocurrency code (e.g., btc)
          example: btc
          explode: false
          in: path
          name: currency
          required: true
          schema:
            format: string
            type: string
          style: simple
        - description: The entity ID
          example: 67065
          explode: false
          in: path
          name: entity
          required: true
          schema:
            $ref: '#/components/schemas/entity_id'
          style: simple
        - description: Resumption token for retrieving the next page
          example: ""
          explode: true
          in: query
          name: page
          required: false
          schema:
            type: string
          style: form
        - description: Number of items returned in a single page
          example: 10
          explode: true
          in: query
          name: pagesize
          required: false
          schema:
            format: int32
            minimum: 1
            type: integer
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/entity_addresses'
          description: OK
      summary: Get an entity's addresses
      tags:
        - entities
      x-openapi-router-controller: openapi_server.controllers.entities_controller
  /{currency}/entities/{entity}/links:
    get:
      operationId: list_entity_links
      parameters:
        - description: The cryptocurrency code (e.g., btc)
          example: btc
          explode: false
          in: path
          name: currency
          required: true
          schema:
            format: string
            type: string
          style: simple
        - description: The entity ID
          example: 67065
          explode: false
          in: path
          name: entity
          required: true
          schema:
            $ref: '#/components/schemas/entity_id'
          style: simple
        - description: Neighbor entity
          example: 123456
          explode: true
          in: query
          name: neighbor
          required: true
          schema:
            $ref: '#/components/schemas/entity_id'
          style: form
        - description: Return transactions starting from given height
          example: 1
          explode: true
          in: query
          name: min_height
          required: false
          schema:
            $ref: '#/components/schemas/height'
          style: form
        - description: Return transactions up to (including) given height
          example: 2
          explode: true
          in: query
          name: max_height
          required: false
          schema:
            $ref: '#/components/schemas/height'
          style: form
        - description: min date of txs
          example: 2017-07-21T17:32:28Z
          explode: true
          in: query
          name: min_date
          required: false
          schema:
            $ref: '#/components/schemas/dateTime'
          style: form
        - description: max date of txs
          example: 2017-07-21T17:32:28Z
          explode: true
          in: query
          name: max_date
          required: false
          schema:
            $ref: '#/components/schemas/dateTime'
          style: form
        - description: Sorting order
          example: desc
          explode: true
          in: query
          name: order
          required: false
          schema:
            default: desc
            enum:
              - asc
              - desc
            type: string
          style: form
        - description: Return transactions of given token or base currency
          example: WETH
          explode: true
          in: query
          name: token_currency
          required: false
          schema:
            type: string
          style: form
        - description: Resumption token for retrieving the next page
          example: ""
          explode: true
          in: query
          name: page
          required: false
          schema:
            type: string
          style: form
        - description: Number of items returned in a single page
          example: 10
          explode: true
          in: query
          name: pagesize
          required: false
          schema:
            format: int32
            minimum: 1
            type: integer
          style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                links_internetarchive:
                  $ref: '#/components/examples/links_internetarchive'
              schema:
                $ref: '#/components/schemas/links'
          description: OK
      summary: Get transactions between two entities
      tags:
        - entities
      x-openapi-router-controller: openapi_server.controllers.entities_controller
  /{currency}/entities/{entity}/neighbors:
    get:
      operationId: list_entity_neighbors
      parameters:
        - description: The cryptocurrency code (e.g., btc)
          example: btc
          explode: false
          in: path
          name: currency
          required: true
          schema:
            format: string
            type: string
          style: simple
        - description: The entity ID
          example: 67065
          explode: false
          in: path
          name: entity
          required: true
          schema:
            $ref: '#/components/schemas/entity_id'
          style: simple
        - description: Incoming or outgoing neighbors
          example: out
          explode: true
          in: query
          name: direction
          required: true
          schema:
            enum:
              - in
              - out
            type: string
          style: form
        - description: Restrict result to given set of comma separated IDs
          explode: true
          in: query
          name: only_ids
          required: false
          schema:
            items:
              format: int32
              type: integer
            type: array
          style: form
        - description: Whether to include labels of first page of address tags
          explode: true
          in: query
          name: include_labels
          required: false
          schema:
            default: false
            type: boolean
          style: form
        - description: Whether to exclude the best address tag
          explode: true
          in: query
          name: exclude_best_address_tag
          required: false
          schema:
            default: false
            type: boolean
          style: form
        - description: Whether to include information about the actor behind the address
          explode: true
          in: query
          name: include_actors
          required: false
          schema:
            default: false
            type: boolean
          style: form
        - description: Resumption token for retrieving the next page
          example: ""
          explode: true
          in: query
          name: page
          required: false
          schema:
            type: string
          style: form
        - description: Number of items returned in a single page
          example: 10
          explode: true
          in: query
          name: pagesize
          required: false
          schema:
            format: int32
            minimum: 1
            type: integer
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/neighbor_entities'
          description: OK
      summary: Get an entity's direct neighbors
      tags:
        - entities
      x-openapi-router-controller: openapi_server.controllers.entities_controller
  /{currency}/entities/{entity}/search:
    get:
      operationId: search_entity_neighbors
      parameters:
        - description: The cryptocurrency code (e.g., btc)
          example: btc
          explode: false
          in: path
          name: currency
          required: true
          schema:
            format: string
            type: string
          style: simple
        - description: The entity ID
          example: 67065
          explode: false
          in: path
          name: entity
          required: true
          schema:
            $ref: '#/components/schemas/entity_id'
          style: simple
        - description: Incoming or outgoing neighbors
          example: out
          explode: true
          in: query
          name: direction
          required: true
          schema:
            enum:
              - in
              - out
            type: string
          style: form
        - description: 'Match neighbors against one and only one of these properties: - the category the entity belongs to - addresses the entity contains - entity ids - total_received: amount the entity received in total - balance: amount the entity holds finally'
          example: category
          explode: true
          in: query
          name: key
          required: true
          schema:
            enum:
              - category
              - addresses
              - entities
              - total_received
              - balance
            type: string
          style: form
        - description: 'If key is - category: comma separated list of category names - addresses: comma separated list of address IDs - entities: comma separated list of entity IDs - total_received/balance: comma separated tuple of (currency, min, max) where currency is ''value'' for the cryptocurrency value or an ISO currency code'
          example: Miner
          explode: true
          in: query
          name: value
          required: true
          schema:
            items:
              type: string
            type: array
          style: form
        - description: How many hops should the transaction graph be searched
          example: 2
          explode: true
          in: query
          name: depth
          required: true
          schema:
            format: int32
            maximum: 7
            type: integer
          style: form
        - description: How many siblings of each neighbor should be tried
          explode: true
          in: query
          name: breadth
          required: false
          schema:
            default: 16
            format: int32
            type: integer
          style: form
        - description: Skip entities containing more addresses
          explode: true
          in: query
          name: skip_num_addresses
          required: false
          schema:
            format: int32
            type: integer
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/search_result_level1'
                type: array
          description: OK
      summary: Search deeply for matching neighbors
      tags:
        - entities
      x-openapi-router-controller: openapi_server.controllers.entities_controller
  /{currency}/entities/{entity}/tags:
    get:
      operationId: list_address_tags_by_entity
      parameters:
        - description: The cryptocurrency code (e.g., btc)
          example: btc
          explode: false
          in: path
          name: currency
          required: true
          schema:
            format: string
            type: string
          style: simple
        - description: The entity ID
          example: 67065
          explode: false
          in: path
          name: entity
          required: true
          schema:
            $ref: '#/components/schemas/entity_id'
          style: simple
        - description: Resumption token for retrieving the next page
          example: ""
          explode: true
          in: query
          name: page
          required: false
          schema:
            type: string
          style: form
        - description: Number of items returned in a single page
          example: 10
          explode: true
          in: query
          name: pagesize
          required: false
          schema:
            format: int32
            minimum: 1
            type: integer
          style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                internetarchive:
                  $ref: '#/components/examples/internetarchive_entitys_addresses'
              schema:
                $ref: '#/components/schemas/address_tags'
          description: OK
      summary: Get address tags for a given entity
      tags:
        - entities
      x-openapi-router-controller: openapi_server.controllers.entities_controller
  /{currency}/entities/{entity}/txs:
    get:
      operationId: list_entity_txs
      parameters:
        - description: The cryptocurrency code (e.g., btc)
          example: btc
          explode: false
          in: path
          name: currency
          required: true
          schema:
            format: string
            type: string
          style: simple
        - description: The entity ID
          example: 67065
          explode: false
          in: path
          name: entity
          required: true
          schema:
            $ref: '#/components/schemas/entity_id'
          style: simple
        - description: Incoming or outgoing transactions
          example: out
          explode: true
          in: query
          name: direction
          required: false
          schema:
            enum:
              - in
              - out
            type: string
          style: form
        - description: Return transactions starting from given height
          example: 1
          explode: true
          in: query
          name: min_height
          required: false
          schema:
            $ref: '#/components/schemas/height'
          style: form
        - description: Return transactions up to (including) given height
          example: 2
          explode: true
          in: query
          name: max_height
          required: false
          schema:
            $ref: '#/components/schemas/height'
          style: form
        - description: min date of txs
          example: 2017-07-21T17:32:28Z
          explode: true
          in: query
          name: min_date
          required: false
          schema:
            $ref: '#/components/schemas/dateTime'
          style: form
        - description: max date of txs
          example: 2017-07-21T17:32:28Z
          explode: true
          in: query
          name: max_date
          required: false
          schema:
            $ref: '#/components/schemas/dateTime'
          style: form
        - description: Sorting order
          example: desc
          explode: true
          in: query
          name: order
          required: false
          schema:
            default: desc
            enum:
              - asc
              - desc
            type: string
          style: form
        - description: Return transactions of given token or base currency
          example: WETH
          explode: true
          in: query
          name: token_currency
          required: false
          schema:
            type: string
          style: form
        - description: Resumption token for retrieving the next page
          example: ""
          explode: true
          in: query
          name: page
          required: false
          schema:
            type: string
          style: form
        - description: Number of items returned in a single page
          example: 10
          explode: true
          in: query
          name: pagesize
          required: false
          schema:
            format: int32
            minimum: 1
            type: integer
          style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                txs_internetarchive:
                  $ref: '#/components/examples/entity_txs_internetarchive'
              schema:
                $ref: '#/components/schemas/address_txs'
          description: OK
      summary: Get all transactions an entity has been involved in
      tags:
        - entities
      x-openapi-router-controller: openapi_server.controllers.entities_controller
  /{currency}/rates/{height}:
    get:
      operationId: get_exchange_rates
      parameters:
        - description: The cryptocurrency code (e.g., btc)
          example: btc
          explode: false
          in: path
          name: currency
          required: true
          schema:
            format: string
            type: string
          style: simple
        - description: The block height
          example: 1
          explode: false
          in: path
          name: height
          required: true
          schema:
            $ref: '#/components/schemas/height'
          style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                rates:
                  $ref: '#/components/examples/rates'
              schema:
                $ref: '#/components/schemas/rates'
          description: OK
      summary: Returns exchange rate for a given height
      tags:
        - rates
      x-openapi-router-controller: openapi_server.controllers.rates_controller
  /{currency}/supported_tokens:
    get:
      operationId: list_supported_tokens
      parameters:
        - description: The cryptocurrency code (e.g., btc)
          example: btc
          explode: false
          in: path
          name: currency
          required: true
          schema:
            format: string
            type: string
          style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                rates:
                  $ref: '#/components/examples/token_configs'
              schema:
                $ref: '#/components/schemas/token_configs'
          description: OK
      summary: Returns a list of supported token (sub)currencies
      tags:
        - tokens
      x-openapi-router-controller: openapi_server.controllers.tokens_controller
  /{currency}/token_txs/{tx_hash}:
    get:
      operationId: list_token_txs
      parameters:
        - description: The cryptocurrency code (e.g., btc)
          example: btc
          explode: false
          in: path
          name: currency
          required: true
          schema:
            format: string
            type: string
          style: simple
        - description: The transaction hash
          example: 04d92601677d62a985310b61a301e74870fa942c8be0648e16b1db23b996a8cd
          explode: false
          in: path
          name: tx_hash
          required: true
          schema:
            $ref: '#/components/schemas/tx_hash'
          style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                txs_account:
                  $ref: '#/components/examples/txs_account'
              schema:
                $ref: '#/components/schemas/txs_account'
          description: OK
      summary: Returns all token transactions in a given transaction
      tags:
        - txs
      x-openapi-router-controller: openapi_server.controllers.txs_controller
  /{currency}/txs/{tx_hash}:
    get:
      operationId: get_tx
      parameters:
        - description: The cryptocurrency code (e.g., btc)
          example: btc
          explode: false
          in: path
          name: currency
          required: true
          schema:
            format: string
            type: string
          style: simple
        - description: The transaction hash
          example: 04d92601677d62a985310b61a301e74870fa942c8be0648e16b1db23b996a8cd
          explode: false
          in: path
          name: tx_hash
          required: true
          schema:
            $ref: '#/components/schemas/tx_hash'
          style: simple
        - description: Whether to include inputs/outputs of a transaction (UTXO only)
          explode: true
          in: query
          name: include_io
          required: false
          schema:
            default: false
            type: boolean
          style: form
        - description: Whether to include non-standard inputs/outputs such as OP_RETURN of a transaction (UTXO only)
          explode: true
          in: query
          name: include_nonstandard_io
          required: false
          schema:
            default: false
            type: boolean
          style: form
        - description: Whether to include the index of inputs/outputs of a transaction (UTXO only)
          explode: true
          in: query
          name: include_io_index
          required: false
          schema:
            default: false
            type: boolean
          style: form
        - description: Select a specific token_transaction (Account model only)
          explode: true
          in: query
          name: token_tx_id
          required: false
          schema:
            type: integer
          style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                tx_utxo:
                  $ref: '#/components/examples/tx_utxo'
                tx_account:
                  $ref: '#/components/examples/tx_account'
              schema:
                $ref: '#/components/schemas/tx'
          description: OK
      summary: Returns details of a specific transaction identified by its hash
      tags:
        - txs
      x-openapi-router-controller: openapi_server.controllers.txs_controller
  /{currency}/txs/{tx_hash}/conversions:
    get:
      operationId: get_tx_conversions
      parameters:
        - description: The cryptocurrency code (e.g., btc)
          example: btc
          explode: false
          in: path
          name: currency
          required: true
          schema:
            format: string
            type: string
          style: simple
        - description: The transaction hash
          example: 04d92601677d62a985310b61a301e74870fa942c8be0648e16b1db23b996a8cd
          explode: false
          in: path
          name: tx_hash
          required: true
          schema:
            $ref: '#/components/schemas/tx_hash'
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/external_conversions'
                type: array
          description: OK
      summary: Returns conversion information (swaps or bridging txs) extracted from a specific transaction
      tags:
        - txs
      x-openapi-router-controller: openapi_server.controllers.txs_controller
  /{currency}/txs/{tx_hash}/spending:
    get:
      operationId: get_spending_txs
      parameters:
        - description: The cryptocurrency code (e.g., btc)
          example: btc
          explode: false
          in: path
          name: currency
          required: true
          schema:
            format: string
            type: string
          style: simple
        - description: The transaction hash
          example: 04d92601677d62a985310b61a301e74870fa942c8be0648e16b1db23b996a8cd
          explode: false
          in: path
          name: tx_hash
          required: true
          schema:
            $ref: '#/components/schemas/tx_hash'
          style: simple
        - description: index of the input or output in question
          example: 0
          explode: true
          in: query
          name: io_index
          required: false
          schema:
            type: integer
          style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                txs_account:
                  $ref: '#/components/examples/tx_refs'
              schema:
                items:
                  $ref: '#/components/schemas/tx_ref'
                type: array
          description: OK
      summary: Returns in which other transaction's outputs the asked transaction spent. Think backwards references is the transaction graph. This endpoint is only available for utxo like currencies.
      tags:
        - txs
      x-openapi-router-controller: openapi_server.controllers.txs_controller
  /{currency}/txs/{tx_hash}/spent_in:
    get:
      operationId: get_spent_in_txs
      parameters:
        - description: The cryptocurrency code (e.g., btc)
          example: btc
          explode: false
          in: path
          name: currency
          required: true
          schema:
            format: string
            type: string
          style: simple
        - description: The transaction hash
          example: 04d92601677d62a985310b61a301e74870fa942c8be0648e16b1db23b996a8cd
          explode: false
          in: path
          name: tx_hash
          required: true
          schema:
            $ref: '#/components/schemas/tx_hash'
          style: simple
        - description: index of the input or output in question
          example: 0
          explode: true
          in: query
          name: io_index
          required: false
          schema:
            type: integer
          style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                txs_account:
                  $ref: '#/components/examples/tx_refs'
              schema:
                items:
                  $ref: '#/components/schemas/tx_ref'
                type: array
          description: OK
      summary: Returns in which other transactions, outputs from the asked transaction are spent. Think forward references in the transaction graph. This endpoint is only available for utxo like currencies.
      tags:
        - txs
      x-openapi-router-controller: openapi_server.controllers.txs_controller
  /{currency}/txs/{tx_hash}/{io}:
    get:
      operationId: get_tx_io
      parameters:
        - description: The cryptocurrency code (e.g., btc)
          example: btc
          explode: false
          in: path
          name: currency
          required: true
          schema:
            format: string
            type: string
          style: simple
        - description: The transaction hash
          example: 04d92601677d62a985310b61a301e74870fa942c8be0648e16b1db23b996a8cd
          explode: false
          in: path
          name: tx_hash
          required: true
          schema:
            $ref: '#/components/schemas/tx_hash'
          style: simple
        - description: Input or outpus values of a transaction
          example: outputs
          explode: false
          in: path
          name: io
          required: true
          schema:
            enum:
              - inputs
              - outputs
            type: string
          style: simple
        - description: Whether to include non-standard inputs/outputs such as OP_RETURN of a transaction (UTXO only)
          explode: true
          in: query
          name: include_nonstandard_io
          required: false
          schema:
            default: false
            type: boolean
          style: form
        - description: Whether to include the index of inputs/outputs of a transaction (UTXO only)
          explode: true
          in: query
          name: include_io_index
          required: false
          schema:
            default: false
            type: boolean
          style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                txs_io:
                  $ref: '#/components/examples/txs_io'
              schema:
                $ref: '#/components/schemas/tx_values'
          description: OK
      summary: Returns input/output values of a specific transaction identified by its hash
      tags:
        - txs
      x-openapi-router-controller: openapi_server.controllers.txs_controller
components:
  examples:
    token_configs:
      summary: Example token config
      value:
        token_configs:
          - ticker: USDT
            decimals: 6
            peg_currency: USD
          - ticker: WETH
            decimals: 18
            peg_currency: ETH
    tx_utxo:
      summary: UTXO transaction
      value:
        tx_type: utxo
        tx_hash: 04d92601677d62a985310b61a301e74870fa942c8be0648e16b1db23b996a8cd
        coinbase: false
        height: 47
        inputs:
          - address: 1Archive1n2C579dMsAu3iC6tWzuQJz8dN
            value:
              fiat_values:
                - code: eur
                  value: 10
                - code: usd
                  value: 20
              value: 5
          - address: addressB
            value:
              fiat_values:
                - code: eur
                  value: 20
                - code: usd
                  value: 40
              value: 10
        outputs:
          - address: addressC
            value:
              fiat_values:
                - code: eur
                  value: 5
                - code: usd
                  value: 10
              value: 2.5
          - address: addressD
            value:
              fiat_values:
                - code: eur
                  value: 25
                - code: usd
                  value: 50
              value: 12.5
        timestamp: 123456789
        total_input:
          fiat_values:
            - code: eur
              value: 30
            - code: usd
              value: 60
          value: 15
        total_output:
          fiat_values:
            - code: eur
              value: 30
            - code: usd
              value: 60
          value: 15
    txs_utxo:
      summary: list of UTXO transactions
      value:
        - tx_type: utxo
          tx_hash: 04d92601677d62a985310b61a301e74870fa942c8be0648e16b1db23b996a8cd
          coinbase: false
          height: 47
          inputs:
            - address: 1Archive1n2C579dMsAu3iC6tWzuQJz8dN
              value:
                fiat_values:
                  - code: eur
                    value: 10
                  - code: usd
                    value: 20
                value: 5
            - address: addressB
              value:
                fiat_values:
                  - code: eur
                    value: 20
                  - code: usd
                    value: 40
                value: 10
          outputs:
            - address: addressC
              value:
                fiat_values:
                  - code: eur
                    value: 5
                  - code: usd
                    value: 10
                value: 2.5
            - address: addressD
              value:
                fiat_values:
                  - code: eur
                    value: 25
                  - code: usd
                    value: 50
                value: 12.5
          timestamp: 123456789
          total_input:
            fiat_values:
              - code: eur
                value: 30
              - code: usd
                value: 60
            value: 15
          total_output:
            fiat_values:
              - code: eur
                value: 30
              - code: usd
                value: 60
            value: 15
    tx_account:
      summary: account transaction
      value:
        tx_type: account
        currency: ETH
        tx_hash: 04d92601677d62a985310b61a301e74870fa942c8be0648e16b1db23b996a8cd
        height: 47
        timestamp: 123456789
        value:
          fiat_values:
            - code: eur
              value: 30
            - code: usd
              value: 60
          value: 15
        from_address: addressA
        to_address: addressB
    tx_refs:
      summary: references to inputs or outputs of another tx
      value:
        - output_index: 0
          input_index: 0
          tx_hash: 120439699b10bac37c5316834644acfa8eae6f17b370231e79a2d71ce90f0ebf
    txs_account:
      summary: list of account transactions
      value:
        - tx_type: account
          currency: ETH
          tx_hash: 04d92601677d62a985310b61a301e74870fa942c8be0648e16b1db23b996a8cd
          height: 47
          timestamp: 123456789
          value:
            fiat_values:
              - code: eur
                value: 30
              - code: usd
                value: 60
            value: 15
          from_address: addressA
          to_address: addressB
    internetarchive:
      summary: addresses with label "internet archive"
      value:
        address_tags:
          - category: organization
            confidence: service_data
            confidence_level: 50
            currency: BTC
            is_cluster_definer: true
            label: internet archive
            lastmod: 1636675200
            source: https://archive.org/donate/cryptocurrency
            tagpack_creator: GraphSense Core Team
            tagpack_is_public: true
            tagpack_title: GraphSense Demo TagPack
            tagpack_uri: https://github.com/graphsense/graphsense-tagpacks/tree/master/packs/demo.yaml
            address: 1Archive1n2C579dMsAu3iC6tWzuQJz8dN
            entity: 264711
    internetarchive_addresses:
      summary: tags of address "1Archive1n2C579dMsAu3iC6tWzuQJz8dN"
      value:
        address_tags:
          - category: organization
            confidence: service_data
            confidence_level: 50
            currency: BTC
            is_cluster_definer: true
            label: internet archive
            lastmod: 1636675200
            source: https://archive.org/donate/cryptocurrency
            tagpack_creator: GraphSense Core Team
            tagpack_is_public: true
            tagpack_title: GraphSense Demo TagPack
            tagpack_uri: https://github.com/graphsense/graphsense-tagpacks/tree/master/packs/demo.yaml
            address: 1Archive1n2C579dMsAu3iC6tWzuQJz8dN
            entity: 264711
    internetarchive_entitys_addresses:
      summary: tags of an entity
      value:
        address_tags:
          - category: organization
            confidence: service_data
            confidence_level: 50
            currency: BTC
            is_cluster_definer: true
            label: internet archive
            lastmod: 1636675200
            source: https://archive.org/donate/cryptocurrency
            tagpack_creator: GraphSense Core Team
            tagpack_is_public: true
            tagpack_title: GraphSense Demo TagPack
            tagpack_uri: https://github.com/graphsense/graphsense-tagpacks/tree/master/packs/demo.yaml
            address: 1Archive1n2C579dMsAu3iC6tWzuQJz8dN
            entity: 264711
    txs_internetarchive:
      summary: transactions of address "1Archive1n2C579dMsAu3iC6tWzuQJz8dN"
      value:
        address_txs:
          - coinbase: false
            currency: btc
            height: 690083
            timestamp: 1625703347
            tx_hash: 0fa34dfc851611b747725f315ea156e2ce931674560f9750ed30be0f786e0d05
            tx_type: utxo
            value:
              fiat_values:
                - code: eur
                  value: -18.19
                - code: usd
                  value: -21.53
              value: -65485
          - coinbase: false
            currency: btc
            height: 690076
            timestamp: 1625697035
            tx_hash: 9586bd883cf255aa4207a3749cad61de34b6f1001bd25cecfac3a9237d57a84d
            tx_type: utxo
            value:
              fiat_values:
                - code: eur
                  value: -171698.17
                - code: usd
                  value: -203136.12
              value: -600012259
        next_page: 00110004010d329a01010800000000211a20f0f07ffffff5f07ffffff5
    entity_txs_internetarchive:
      summary: transactions of an entity
      value:
        address_txs:
          - coinbase: false
            currency: btc
            height: 690083
            timestamp: 1625703347
            tx_hash: 0fa34dfc851611b747725f315ea156e2ce931674560f9750ed30be0f786e0d05
            tx_type: utxo
            value:
              fiat_values:
                - code: eur
                  value: -18.19
                - code: usd
                  value: -21.53
              value: -65485
          - coinbase: false
            currency: btc
            height: 690076
            timestamp: 1625697035
            tx_hash: 9586bd883cf255aa4207a3749cad61de34b6f1001bd25cecfac3a9237d57a84d
            tx_type: utxo
            value:
              fiat_values:
                - code: eur
                  value: -171698.17
                - code: usd
                  value: -203136.12
              value: -600012259
        next_page: 00110004010d329a01010800000000211a20f0f07ffffff5f07ffffff5
    links_internetarchive:
      summary: links between "1Archive1n2C579dMsAu3iC6tWzuQJz8dN" and "1CvwMHyAtQAywKvLAANbgLktrC7f75eoq5"
      value:
        links:
          - currency: btc
            height: 334069
            input_value:
              fiat_values:
                - code: eur
                  value: -6352.06
                - code: usd
                  value: -7916.22
              value: -2278238097
            output_value:
              fiat_values:
                - code: eur
                  value: 6630.22
                - code: usd
                  value: 8262.87
              value: 2378000000
            timestamp: 1418432879
            tx_hash: 5805ba651d6b72eda3d6e34e43d44c6df20c455f0488acecc75fd6165d6d2590
            tx_type: utxo
          - currency: btc
            height: 334056
            input_value:
              fiat_values:
                - code: eur
                  value: -2.84
                - code: usd
                  value: -3.54
              value: -1010000
            output_value:
              fiat_values:
                - code: eur
                  value: 2.82
                - code: usd
                  value: 3.51
              value: 1000000
            timestamp: 1418427638
            tx_hash: fd7cc9178688e3899eb9e6c1f2c985e66cf2c60a5233b850f28c2b8805c1a056
            tx_type: utxo
          - currency: btc
            height: 273056
            input_value:
              fiat_values:
                - code: eur
                  value: -15312.11
                - code: usd
                  value: -20810.81
              value: -1813980000
            output_value:
              fiat_values:
                - code: eur
                  value: 69555.24
                - code: usd
                  value: 94533.05
              value: 8240000000
            timestamp: 1386179074
            tx_hash: 5ba549b4115a8978fe206ac151277acc27ffdce01f4dfd4b5487c67202e516a9
            tx_type: utxo
    entity_links_internetarchive:
      summary: links between two entities
      value:
        links:
          - currency: btc
            height: 334069
            input_value:
              fiat_values:
                - code: eur
                  value: -6352.06
                - code: usd
                  value: -7916.22
              value: -2278238097
            output_value:
              fiat_values:
                - code: eur
                  value: 6630.22
                - code: usd
                  value: 8262.87
              value: 2378000000
            timestamp: 1418432879
            tx_hash: 5805ba651d6b72eda3d6e34e43d44c6df20c455f0488acecc75fd6165d6d2590
            tx_type: utxo
          - currency: btc
            height: 334056
            input_value:
              fiat_values:
                - code: eur
                  value: -2.84
                - code: usd
                  value: -3.54
              value: -1010000
            output_value:
              fiat_values:
                - code: eur
                  value: 2.82
                - code: usd
                  value: 3.51
              value: 1000000
            timestamp: 1418427638
            tx_hash: fd7cc9178688e3899eb9e6c1f2c985e66cf2c60a5233b850f28c2b8805c1a056
            tx_type: utxo
          - currency: btc
            height: 273056
            input_value:
              fiat_values:
                - code: eur
                  value: -15312.11
                - code: usd
                  value: -20810.81
              value: -1813980000
            output_value:
              fiat_values:
                - code: eur
                  value: 69555.24
                - code: usd
                  value: 94533.05
              value: 8240000000
            timestamp: 1386179074
            tx_hash: 5ba549b4115a8978fe206ac151277acc27ffdce01f4dfd4b5487c67202e516a9
            tx_type: utxo
    rates:
      summary: example rates at block height 47
      value:
        rates:
          - code: eur
            value: 0.1234
          - code: usd
            value: 0.2345
        height: 47
    txs_io:
      summary: outputs of transaction "04d92601677d62a985310b61a301e74870fa942c8be0648e16b1db23b996a8cd"
      value:
        - address:
            - 1GeUZK971B5Umn6JH47PbgrP9qW7RaeW95
          value:
            fiat_values:
              - code: eur
                value: 19.48
              - code: usd
                value: 25.55
            value: 21200000
          index: 0
        - address:
            - 1Archive1n2C579dMsAu3iC6tWzuQJz8dN
          value:
            fiat_values:
              - code: eur
                value: 0.92
              - code: usd
                value: 1.21
            value: 1000000
  parameters:
    include_best_cluster_tag:
      description: If the best cluster tag should be inherited to the address level, often helpful for exchanges where not every address is tagged.
      explode: true
      in: query
      name: include_best_cluster_tag
      required: false
      schema:
        default: false
        type: boolean
      style: form
    actor:
      description: actor id
      example: binance
      explode: false
      in: path
      name: actor
      required: true
      schema:
        format: string
        type: string
      style: simple
    currency:
      description: The cryptocurrency code (e.g., btc)
      example: btc
      explode: false
      in: path
      name: currency
      required: true
      schema:
        format: string
        type: string
      style: simple
    currency_query:
      description: The cryptocurrency (e.g., btc)
      example: btc
      explode: true
      in: query
      name: currency
      required: false
      schema:
        format: string
        type: string
      style: form
    dateTime:
      description: The time of the block
      example: 2017-07-21T17:32:28Z
      explode: false
      in: path
      name: date
      required: true
      schema:
        $ref: '#/components/schemas/dateTime'
      style: simple
    height:
      description: The block height
      example: 1
      explode: false
      in: path
      name: height
      required: true
      schema:
        $ref: '#/components/schemas/height'
      style: simple
    page:
      description: Resumption token for retrieving the next page
      example: ""
      explode: true
      in: query
      name: page
      required: false
      schema:
        type: string
      style: form
    pagesize:
      description: Number of items returned in a single page
      example: 10
      explode: true
      in: query
      name: pagesize
      required: false
      schema:
        format: int32
        minimum: 1
        type: integer
      style: form
    direction:
      description: Incoming or outgoing neighbors
      example: out
      explode: true
      in: query
      name: direction
      required: true
      schema:
        enum:
          - in
          - out
        type: string
      style: form
    direction_txs:
      description: Incoming or outgoing transactions
      example: out
      explode: true
      in: query
      name: direction
      required: false
      schema:
        enum:
          - in
          - out
        type: string
      style: form
    min_height:
      description: Return transactions starting from given height
      example: 1
      explode: true
      in: query
      name: min_height
      required: false
      schema:
        $ref: '#/components/schemas/height'
      style: form
    max_height:
      description: Return transactions up to (including) given height
      example: 2
      explode: true
      in: query
      name: max_height
      required: false
      schema:
        $ref: '#/components/schemas/height'
      style: form
    min_date:
      description: min date of txs
      example: 2017-07-21T17:32:28Z
      explode: true
      in: query
      name: min_date
      required: false
      schema:
        $ref: '#/components/schemas/dateTime'
      style: form
    max_date:
      description: max date of txs
      example: 2017-07-21T17:32:28Z
      explode: true
      in: query
      name: max_date
      required: false
      schema:
        $ref: '#/components/schemas/dateTime'
      style: form
    sorting_order:
      description: Sorting order
      example: desc
      explode: true
      in: query
      name: order
      required: false
      schema:
        default: desc
        enum:
          - asc
          - desc
        type: string
      style: form
    token_currency:
      description: Return transactions of given token or base currency
      example: WETH
      explode: true
      in: query
      name: token_currency
      required: false
      schema:
        type: string
      style: form
    io:
      description: Input or outpus values of a transaction
      example: outputs
      explode: false
      in: path
      name: io
      required: true
      schema:
        enum:
          - inputs
          - outputs
        type: string
      style: simple
    address:
      description: The cryptocurrency address
      example: 1Archive1n2C579dMsAu3iC6tWzuQJz8dN
      explode: false
      in: path
      name: address
      required: true
      schema:
        $ref: '#/components/schemas/address_id'
      style: simple
    neighbor:
      description: Neighbor address
      example: 1FKCzy3BEtiZDhRDtivp7Y7RVb9edg5BH7
      explode: true
      in: query
      name: neighbor
      required: true
      schema:
        $ref: '#/components/schemas/address_id'
      style: form
    entity_neighbor:
      description: Neighbor entity
      example: 123456
      explode: true
      in: query
      name: neighbor
      required: true
      schema:
        $ref: '#/components/schemas/entity_id'
      style: form
    entity:
      description: The entity ID
      example: 67065
      explode: false
      in: path
      name: entity
      required: true
      schema:
        $ref: '#/components/schemas/entity_id'
      style: simple
    tx_hash:
      description: The transaction hash
      example: 04d92601677d62a985310b61a301e74870fa942c8be0648e16b1db23b996a8cd
      explode: false
      in: path
      name: tx_hash
      required: true
      schema:
        $ref: '#/components/schemas/tx_hash'
      style: simple
    io_index:
      description: index of the input or output in question
      example: 0
      explode: true
      in: query
      name: io_index
      required: false
      schema:
        type: integer
      style: form
    only_address_ids:
      description: Restrict result to given set of comma separated addresses
      explode: true
      in: query
      name: only_ids
      required: false
      schema:
        items:
          type: string
        type: array
      style: form
    only_entity_ids:
      description: Restrict result to given set of comma separated IDs
      explode: true
      in: query
      name: only_ids
      required: false
      schema:
        items:
          format: int32
          type: integer
        type: array
      style: form
    include_labels:
      description: Whether to include labels of first page of address tags
      explode: true
      in: query
      name: include_labels
      required: false
      schema:
        default: false
        type: boolean
      style: form
    exclude_best_address_tag:
      description: Whether to exclude the best address tag
      explode: true
      in: query
      name: exclude_best_address_tag
      required: false
      schema:
        default: false
        type: boolean
      style: form
    include_actors:
      description: Whether to include information about the actor behind the address
      explode: true
      in: query
      name: include_actors
      required: false
      schema:
        default: false
        type: boolean
      style: form
    include_actors_defaulttrue:
      description: Whether to include information about the actor behind the address
      explode: true
      in: query
      name: include_actors
      required: false
      schema:
        default: true
        type: boolean
      style: form
    include_io:
      description: Whether to include inputs/outputs of a transaction (UTXO only)
      explode: true
      in: query
      name: include_io
      required: false
      schema:
        default: false
        type: boolean
      style: form
    include_nonstandard_io:
      description: Whether to include non-standard inputs/outputs such as OP_RETURN of a transaction (UTXO only)
      explode: true
      in: query
      name: include_nonstandard_io
      required: false
      schema:
        default: false
        type: boolean
      style: form
    include_io_index:
      description: Whether to include the index of inputs/outputs of a transaction (UTXO only)
      explode: true
      in: query
      name: include_io_index
      required: false
      schema:
        default: false
        type: boolean
      style: form
    token_tx_id:
      description: Select a specific token_transaction (Account model only)
      explode: true
      in: query
      name: token_tx_id
      required: false
      schema:
        type: integer
      style: form
    tag_level:
      description: Whether tags on the address or entity level are requested
      example: address
      explode: true
      in: query
      name: level
      required: true
      schema:
        enum:
          - address
          - entity
        type: string
      style: form
    search_key:
      description: 'Match neighbors against one and only one of these properties: - the category the entity belongs to - addresses the entity contains - entity ids - total_received: amount the entity received in total - balance: amount the entity holds finally'
      example: category
      explode: true
      in: query
      name: key
      required: true
      schema:
        enum:
          - category
          - addresses
          - entities
          - total_received
          - balance
        type: string
      style: form
    search_value:
      description: 'If key is - category: comma separated list of category names - addresses: comma separated list of address IDs - entities: comma separated list of entity IDs - total_received/balance: comma separated tuple of (currency, min, max) where currency is ''value'' for the cryptocurrency value or an ISO currency code'
      example: Miner
      explode: true
      in: query
      name: value
      required: true
      schema:
        items:
          type: string
        type: array
      style: form
    depth:
      description: How many hops should the transaction graph be searched
      example: 2
      explode: true
      in: query
      name: depth
      required: true
      schema:
        format: int32
        maximum: 7
        type: integer
      style: form
    breadth:
      description: How many siblings of each neighbor should be tried
      explode: true
      in: query
      name: breadth
      required: false
      schema:
        default: 16
        format: int32
        type: integer
      style: form
    skip_num_addresses:
      description: Skip entities containing more addresses
      explode: true
      in: query
      name: skip_num_addresses
      required: false
      schema:
        format: int32
        type: integer
      style: form
    label:
      description: The label of an entity
      example: cimedy
      explode: true
      in: query
      name: label
      required: true
      schema:
        type: string
      style: form
    taxonomy:
      description: The taxonomy
      example: concept
      explode: false
      in: path
      name: taxonomy
      required: true
      schema:
        type: string
      style: simple
    search_query:
      description: It can be (the beginning of) an address, a transaction or a label
      example: foo
      explode: true
      in: query
      name: q
      required: true
      schema:
        minLength: 2
        type: string
      style: form
    limit:
      description: Maximum number of search results
      example: 10
      explode: true
      in: query
      name: limit
      required: false
      schema:
        default: 10
        format: int32
        maximum: 100
        type: integer
      style: form
    operation:
      description: The operation to execute in bulk
      example: get_block
      explode: false
      in: path
      name: operation
      required: true
      schema:
        enum:
          - get_block
          - get_block_by_date
          - list_block_txs
          - get_address
          - list_address_txs
          - list_tags_by_address
          - get_tag_summary_by_address
          - list_address_neighbors
          - get_address_entity
          - list_address_links
          - get_entity
          - list_address_tags_by_entity
          - list_entity_neighbors
          - list_entity_txs
          - list_entity_links
          - list_entity_addresses
          - get_tx
          - list_token_txs
          - get_tx_io
          - get_spent_in_txs
          - get_spending_txs
          - get_exchange_rates
        type: string
      style: simple
    num_pages:
      description: Number of pages to retrieve for operations with list response
      example: 1
      explode: true
      in: query
      name: num_pages
      required: true
      schema:
        format: int32
        type: integer
      style: form
  schemas:
    user_reported_tag:
      properties:
        address:
          type: string
        network:
          type: string
        label:
          type: string
        actor:
          type: string
        description:
          type: string
      required:
        - actor
        - address
        - description
        - label
        - network
      type: object
    tag_cloud_entry:
      example:
        cnt: 2
        weighted: 7.061401241503109
      properties:
        cnt:
          title: cnt
          type: integer
        weighted:
          title: weighted
          type: number
      required:
        - cnt
        - weighted
      title: tag_cloud_entry
      type: object
    label_summary:
      example:
        inherited_from: cluster
        sources:
          - sources
          - sources
        concepts:
          - concepts
          - concepts
        creators:
          - creators
          - creators
        confidence: 1.4658129805029452
        count: 6
        label: label
        relevance: 5.962133916683182
        lastmod: 5
      properties:
        label:
          title: label
          type: string
        count:
          format: int32
          title: count
          type: integer
        confidence:
          title: confidence
          type: number
        relevance:
          title: relevance
          type: number
        creators:
          items:
            type: string
          title: creators
          type: array
        sources:
          items:
            type: string
          title: sources
          type: array
        concepts:
          items:
            type: string
          title: concepts
          type: array
        lastmod:
          format: int32
          title: lastmod
          type: integer
        inherited_from:
          description: if the tag was inherited from cluster
          enum:
            - cluster
          title: inherited_from
          type: string
      required:
        - concepts
        - confidence
        - count
        - creators
        - label
        - lastmod
        - relevance
        - sources
      title: label_summary
      type: object
    tag_summary:
      example:
        tag_count: 0
        best_actor: best_actor
        concept_tag_cloud:
          key:
            cnt: 2
            weighted: 7.061401241503109
        label_summary:
          key:
            inherited_from: cluster
            sources:
              - sources
              - sources
            concepts:
              - concepts
              - concepts
            creators:
              - creators
              - creators
            confidence: 1.4658129805029452
            count: 6
            label: label
            relevance: 5.962133916683182
            lastmod: 5
        best_label: best_label
        broad_category: broad_category
      properties:
        broad_category:
          title: broad_category
          type: string
        tag_count:
          title: tag_count
          type: integer
        best_actor:
          title: best_actor
          type: string
        best_label:
          title: best_label
          type: string
        label_summary:
          additionalProperties:
            $ref: '#/components/schemas/label_summary'
          title: label_summary
          type: object
        concept_tag_cloud:
          additionalProperties:
            $ref: '#/components/schemas/tag_cloud_entry'
          title: concept_tag_cloud
          type: object
      required:
        - broad_category
        - concept_tag_cloud
        - label_summary
        - tag_count
      title: tag_summary
      type: object
    block_at_date:
      example:
        before_timestamp: 1616376371
        after_block: 47
        before_block: 47
        after_timestamp: 1616376371
      properties:
        before_block:
          description: Height
          example: 47
          format: int32
          minimum: 0
          title: height
          type: integer
        before_timestamp:
          description: Timestamp in posix seconds format
          example: 1616376371
          format: int32
          title: timestamp
          type: integer
        after_block:
          description: Height
          example: 47
          format: int32
          minimum: 0
          title: height
          type: integer
        after_timestamp:
          description: Timestamp in posix seconds format
          example: 1616376371
          format: int32
          title: timestamp
          type: integer
      title: block_at_date
      type: object
    currency:
      description: crypto currency code
      example: btc
      title: currency
      type: string
    stats:
      example:
        request_timestamp: request_timestamp
        version: version
        currencies:
          - no_tagged_addresses: 123
            no_addresses: 12345
            no_labels: 123
            name: name
            no_entities: 123
            no_address_relations: 1234567
            no_blocks: 12345
            no_txs: 11
            timestamp: 1616376371
          - no_tagged_addresses: 123
            no_addresses: 12345
            no_labels: 123
            name: name
            no_entities: 123
            no_address_relations: 1234567
            no_blocks: 12345
            no_txs: 11
            timestamp: 1616376371
      properties:
        currencies:
          items:
            $ref: '#/components/schemas/currency_stats'
          title: currencies
          type: array
        version:
          title: version
          type: string
        request_timestamp:
          title: request_timestamp
          type: string
      required:
        - currencies
        - request_timestamp
        - version
      title: stats
      type: object
    tx_ref:
      example:
        tx_hash: tx_hash
        output_index: 6
        input_index: 0
      properties:
        input_index:
          title: input_index
          type: integer
        output_index:
          title: output_index
          type: integer
        tx_hash:
          title: tx_hash
          type: string
      required:
        - input_index
        - output_index
        - tx_hash
      title: tx_ref
      type: object
    external_conversions:
      example:
        from_network: from_network
        to_amount: to_amount
        from_asset: from_asset
        from_asset_transfer: from_asset_transfer
        conversion_type: dex_swap
        from_amount: from_amount
        to_asset_transfer: to_asset_transfer
        to_asset: to_asset
        to_address: to_address
        from_address: from_address
        to_network: to_network
      properties:
        conversion_type:
          enum:
            - dex_swap
            - bridge_tx
          title: conversion_type
          type: string
        from_address:
          description: Provider of the input assets of the external conversion
          title: from_address
          type: string
        to_address:
          description: Receiver of the output assets of the external conversion
          title: to_address
          type: string
        from_asset:
          description: Asset converted from
          title: from_asset
          type: string
        to_asset:
          description: Asset converted to
          title: to_asset
          type: string
        from_amount:
          description: Amount of asset converted from
          title: from_amount
          type: string
        to_amount:
          description: Amount of asset converted to
          title: to_amount
          type: string
        from_asset_transfer:
          description: Initial asset transfer starting the conversion process
          title: from_asset_transfer
          type: string
        to_asset_transfer:
          description: Output asset transfer ending the conversion process
          title: to_asset_transfer
          type: string
        from_network:
          description: Network where the initial payment took place
          title: from_network
          type: string
        to_network:
          description: Network where the concluding payment took place
          title: to_network
          type: string
      required:
        - conversion_type
        - from_address
        - from_amount
        - from_asset
        - from_asset_transfer
        - from_network
        - to_address
        - to_amount
        - to_asset
        - to_asset_transfer
        - to_network
      title: external_conversions
      type: object
    currency_stats:
      example:
        no_tagged_addresses: 123
        no_addresses: 12345
        no_labels: 123
        name: name
        no_entities: 123
        no_address_relations: 1234567
        no_blocks: 12345
        no_txs: 11
        timestamp: 1616376371
      properties:
        name:
          title: name
          type: string
        no_blocks:
          example: 12345
          format: int32
          title: no_blocks
          type: integer
        no_address_relations:
          example: 1234567
          format: int32
          title: no_address_relations
          type: integer
        no_addresses:
          example: 12345
          format: int32
          title: no_addresses
          type: integer
        no_entities:
          example: 123
          format: int32
          title: no_entities
          type: integer
        no_txs:
          description: number of transactions
          example: 11
          format: int32
          title: no_txs
          type: integer
        no_labels:
          example: 123
          format: int32
          title: no_labels
          type: integer
        no_tagged_addresses:
          example: 123
          format: int32
          title: no_tagged_addresses
          type: integer
        timestamp:
          description: Timestamp in posix seconds format
          example: 1616376371
          format: int32
          title: timestamp
          type: integer
      required:
        - name
        - no_address_relations
        - no_addresses
        - no_blocks
        - no_entities
        - no_labels
        - no_tagged_addresses
        - no_txs
        - timestamp
      title: statistics of a cryptocurrency
      type: object
    block:
      example:
        block_hash: block_hash
        currency: btc
        height: 47
        no_txs: 11
        timestamp: 1616376371
      properties:
        block_hash:
          format: string
          title: block_hash
          type: string
        currency:
          description: crypto currency code
          example: btc
          title: currency
          type: string
        height:
          description: Height
          example: 47
          format: int32
          minimum: 0
          title: height
          type: integer
        no_txs:
          example: 11
          format: int32
          title: no_txs
          type: integer
        timestamp:
          description: Timestamp in posix seconds format
          example: 1616376371
          format: int32
          title: timestamp
          type: integer
      required:
        - block_hash
        - currency
        - height
        - no_txs
        - timestamp
      title: block
      type: object
    address:
      example:
        total_spent:
          fiat_values:
            - code: code
              value: 0.8008282
[...]
