openapi: 3.0.0
info:
  description: GraphSense API
  title: GraphSense API
  version: 0.4.5
servers:
- url: https://api.graphsense.info
paths:
  /search:
    get:
      operationId: search
      parameters:
      - description: The cryptocurrency (e.g., btc)
        example: btc
        explode: true
        in: query
        name: currency
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: It can be (the beginning of) an address, a transaction or a label
        example: foo
        explode: true
        in: query
        name: q
        required: true
        schema:
          minLength: 3
          pattern: ^[\w ]+$
          type: string
        style: form
      - description: Maximum number of search results
        example: 10
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/search_result'
          description: OK
      summary: Returns matching addresses, transactions and labels
      tags:
      - general
      x-openapi-router-controller: openapi_server.controllers.general_controller
  /stats:
    get:
      operationId: get_statistics
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/stats'
          description: OK
      summary: Get statistics of supported currencies
      tags:
      - general
      x-openapi-router-controller: openapi_server.controllers.general_controller
  /tags:
    get:
      operationId: list_address_tags
      parameters:
      - description: The cryptocurrency (e.g., btc)
        example: btc
        explode: true
        in: query
        name: currency
        required: false
        schema:
          format: string
          type: string
        style: form
      - description: The label of an entity
        example: cimedy
        explode: true
        in: query
        name: label
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/address_tag'
                type: array
          description: OK
      summary: Returns the address tags associated with a given label
      tags:
      - tags
      x-openapi-router-controller: openapi_server.controllers.tags_controller
  /tags/taxonomies:
    get:
      operationId: list_taxonomies
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/taxonomy'
                type: array
          description: OK
      summary: Returns the supported taxonomies
      tags:
      - tags
      x-openapi-router-controller: openapi_server.controllers.tags_controller
  /tags/taxonomies/{taxonomy}/concepts:
    get:
      operationId: list_concepts
      parameters:
      - description: The taxonomy
        example: foo
        explode: false
        in: path
        name: taxonomy
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/concept'
                type: array
          description: OK
      summary: Returns the supported concepts of a taxonomy
      tags:
      - tags
      x-openapi-router-controller: openapi_server.controllers.tags_controller
  /{currency}/addresses:
    get:
      operationId: list_addresses
      parameters:
      - description: The cryptocurrency (e.g., btc)
        example: btc
        explode: false
        in: path
        name: currency
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: Restrict result to given set of comma separated IDs
        explode: true
        in: query
        name: ids
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Resumption token for retrieving the next page
        example: 0400030bff00f07fffff9b00
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: string
        style: form
      - description: Number of items returned in a single page
        example: 10
        explode: true
        in: query
        name: pagesize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addresses'
          description: OK
      summary: Get addresses
      tags:
      - addresses
      x-openapi-router-controller: openapi_server.controllers.addresses_controller
  /{currency}/addresses.csv:
    get:
      operationId: list_addresses_csv
      parameters:
      - description: The cryptocurrency (e.g., btc)
        example: btc
        explode: false
        in: path
        name: currency
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: Set of comma separated IDs
        explode: true
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
        x-graphsense-rest-test-example: '"1,2"'
      responses:
        "200":
          content:
            application/csv:
              schema:
                type: string
          description: OK
      summary: Get addresses as CSV
      tags:
      - addresses
      x-openapi-router-controller: openapi_server.controllers.addresses_controller
  /{currency}/addresses/{address}:
    get:
      operationId: get_address
      parameters:
      - description: The cryptocurrency (e.g., btc)
        example: btc
        explode: false
        in: path
        name: currency
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: The cryptocurrency address
        example: 1Archive1n2C579dMsAu3iC6tWzuQJz8dN
        explode: false
        in: path
        name: address
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: Whether tags should be included
        explode: true
        in: query
        name: include_tags
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/address'
          description: OK
      summary: Get an address, optionally with tags
      tags:
      - addresses
      x-openapi-router-controller: openapi_server.controllers.addresses_controller
  /{currency}/addresses/{address}/entity:
    get:
      operationId: get_address_entity
      parameters:
      - description: The cryptocurrency (e.g., btc)
        example: btc
        explode: false
        in: path
        name: currency
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: The cryptocurrency address
        example: 1Archive1n2C579dMsAu3iC6tWzuQJz8dN
        explode: false
        in: path
        name: address
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: Whether tags should be included
        explode: true
        in: query
        name: include_tags
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/entity'
          description: OK
      summary: Get the entity of an address
      tags:
      - addresses
      x-openapi-router-controller: openapi_server.controllers.addresses_controller
  /{currency}/addresses/{address}/links:
    get:
      operationId: list_address_links
      parameters:
      - description: The cryptocurrency (e.g., btc)
        example: btc
        explode: false
        in: path
        name: currency
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: The cryptocurrency address
        example: 1Archive1n2C579dMsAu3iC6tWzuQJz8dN
        explode: false
        in: path
        name: address
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: Neighbor address
        example: 17DfZja1713S3JRWA9jaebCKFM5anUh7GG
        explode: true
        in: query
        name: neighbor
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/link'
                type: array
          description: OK
      summary: Get transactions between two addresses
      tags:
      - addresses
      x-openapi-router-controller: openapi_server.controllers.addresses_controller
  /{currency}/addresses/{address}/links.csv:
    get:
      operationId: list_address_links_csv
      parameters:
      - description: The cryptocurrency (e.g., btc)
        example: btc
        explode: false
        in: path
        name: currency
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: The cryptocurrency address
        example: 1Archive1n2C579dMsAu3iC6tWzuQJz8dN
        explode: false
        in: path
        name: address
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: Neighbor address
        example: 17DfZja1713S3JRWA9jaebCKFM5anUh7GG
        explode: true
        in: query
        name: neighbor
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/csv:
              schema:
                type: string
          description: OK
      summary: Get transactions between two addresses as CSV
      tags:
      - addresses
      x-openapi-router-controller: openapi_server.controllers.addresses_controller
  /{currency}/addresses/{address}/neighbors:
    get:
      operationId: list_address_neighbors
      parameters:
      - description: The cryptocurrency (e.g., btc)
        example: btc
        explode: false
        in: path
        name: currency
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: The cryptocurrency address
        example: 1Archive1n2C579dMsAu3iC6tWzuQJz8dN
        explode: false
        in: path
        name: address
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: Incoming or outgoing neighbors
        example: out
        explode: true
        in: query
        name: direction
        required: true
        schema:
          enum:
          - in
          - out
          type: string
        style: form
      - description: Resumption token for retrieving the next page
        example: 0400030bff00f07fffff9b00
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: string
        style: form
      - description: Number of items returned in a single page
        example: 10
        explode: true
        in: query
        name: pagesize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/neighbors'
          description: OK
      summary: Get an addresses' neighbors in the address graph
      tags:
      - addresses
      x-openapi-router-controller: openapi_server.controllers.addresses_controller
  /{currency}/addresses/{address}/neighbors.csv:
    get:
      operationId: list_address_neighbors_csv
      parameters:
      - description: The cryptocurrency (e.g., btc)
        example: btc
        explode: false
        in: path
        name: currency
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: The cryptocurrency address
        example: 1Archive1n2C579dMsAu3iC6tWzuQJz8dN
        explode: false
        in: path
        name: address
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: Incoming or outgoing neighbors
        example: out
        explode: true
        in: query
        name: direction
        required: true
        schema:
          enum:
          - in
          - out
          type: string
        style: form
      responses:
        "200":
          content:
            text/csv:
              schema:
                type: string
          description: OK
      summary: Get an addresses' neighbors in the address graph as CSV
      tags:
      - addresses
      x-openapi-router-controller: openapi_server.controllers.addresses_controller
  /{currency}/addresses/{address}/tags:
    get:
      operationId: list_tags_by_address
      parameters:
      - description: The cryptocurrency (e.g., btc)
        example: btc
        explode: false
        in: path
        name: currency
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: The cryptocurrency address
        example: 1Archive1n2C579dMsAu3iC6tWzuQJz8dN
        explode: false
        in: path
        name: address
        required: true
        schema:
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/address_tag'
                type: array
          description: OK
      summary: Get attribution tags for a given address
      tags:
      - addresses
      x-openapi-router-controller: openapi_server.controllers.addresses_controller
  /{currency}/addresses/{address}/tags.csv:
    get:
      operationId: list_tags_by_address_csv
      parameters:
      - description: The cryptocurrency (e.g., btc)
        example: btc
        explode: false
        in: path
        name: currency
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: The cryptocurrency address
        example: 1Archive1n2C579dMsAu3iC6tWzuQJz8dN
        explode: false
        in: path
        name: address
        required: true
        schema:
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            application/csv:
              schema:
                type: string
          description: OK
      summary: Get attribution tags for a given address
      tags:
      - addresses
      x-openapi-router-controller: openapi_server.controllers.addresses_controller
  /{currency}/addresses/{address}/txs:
    get:
      operationId: list_address_txs
      parameters:
      - description: The cryptocurrency (e.g., btc)
        example: btc
        explode: false
        in: path
        name: currency
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: The cryptocurrency address
        example: 1Archive1n2C579dMsAu3iC6tWzuQJz8dN
        explode: false
        in: path
        name: address
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: Resumption token for retrieving the next page
        example: 0400030bff00f07fffff9b00
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: string
        style: form
      - description: Number of items returned in a single page
        example: 10
        explode: true
        in: query
        name: pagesize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/address_txs'
          description: OK
      summary: Get all transactions an address has been involved in
      tags:
      - addresses
      x-openapi-router-controller: openapi_server.controllers.addresses_controller
  /{currency}/addresses/{address}/txs.csv:
    get:
      operationId: list_address_txs_csv
      parameters:
      - description: The cryptocurrency (e.g., btc)
        example: btc
        explode: false
        in: path
        name: currency
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: The cryptocurrency address
        example: 1Archive1n2C579dMsAu3iC6tWzuQJz8dN
        explode: false
        in: path
        name: address
        required: true
        schema:
          format: string
          type: string
        style: simple
      responses:
        "200":
          content:
            text/csv:
              schema:
                type: string
          description: OK
      summary: Get all transactions an address has been involved in as CSV
      tags:
      - addresses
      x-openapi-router-controller: openapi_server.controllers.addresses_controller
  /{currency}/blocks:
    get:
      operationId: list_blocks
      parameters:
      - description: The cryptocurrency (e.g., btc)
        example: btc
        explode: false
        in: path
        name: currency
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: Resumption token for retrieving the next page
        example: 0400030bff00f07fffff9b00
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/blocks'
          description: OK
      summary: Get all blocks
      tags:
      - blocks
      x-openapi-router-controller: openapi_server.controllers.blocks_controller
  /{currency}/blocks/{height}:
    get:
      operationId: get_block
      parameters:
      - description: The cryptocurrency (e.g., btc)
        example: btc
        explode: false
        in: path
        name: currency
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: The block height
        example: 1
        explode: false
        in: path
        name: height
        required: true
        schema:
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/block'
          description: OK
      summary: Get a block by its height
      tags:
      - blocks
      x-openapi-router-controller: openapi_server.controllers.blocks_controller
  /{currency}/blocks/{height}/txs:
    get:
      operationId: list_block_txs
      parameters:
      - description: The cryptocurrency (e.g., btc)
        example: btc
        explode: false
        in: path
        name: currency
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: The block height
        example: 1
        explode: false
        in: path
        name: height
        required: true
        schema:
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/block_tx'
                type: array
          description: OK
      summary: Get block transactions (100 per page)
      tags:
      - blocks
      x-openapi-router-controller: openapi_server.controllers.blocks_controller
  /{currency}/blocks/{height}/txs.csv:
    get:
      operationId: list_block_txs_csv
      parameters:
      - description: The cryptocurrency (e.g., btc)
        example: btc
        explode: false
        in: path
        name: currency
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: The block height
        example: 1
        explode: false
        in: path
        name: height
        required: true
        schema:
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            text/csv:
              schema:
                type: string
          description: OK
      summary: Get block transactions as CSV
      tags:
      - blocks
      x-openapi-router-controller: openapi_server.controllers.blocks_controller
  /{currency}/entities:
    get:
      operationId: list_entities
      parameters:
      - description: The cryptocurrency (e.g., btc)
        example: btc
        explode: false
        in: path
        name: currency
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: Restrict result to given set of comma separated IDs
        explode: true
        in: query
        name: ids
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Resumption token for retrieving the next page
        example: 0400030bff00f07fffff9b00
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: string
        style: form
      - description: Number of items returned in a single page
        example: 10
        explode: true
        in: query
        name: pagesize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/entities'
          description: OK
      summary: Get entities
      tags:
      - entities
      x-openapi-router-controller: openapi_server.controllers.entities_controller
  /{currency}/entities.csv:
    get:
      operationId: list_entities_csv
      parameters:
      - description: The cryptocurrency (e.g., btc)
        example: btc
        explode: false
        in: path
        name: currency
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: Set of comma separated IDs
        explode: true
        in: query
        name: ids
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
        x-graphsense-rest-test-example: '"1,2"'
      responses:
        "200":
          content:
            application/csv:
              schema:
                type: string
          description: OK
      summary: Get entities as CSV
      tags:
      - entities
      x-openapi-router-controller: openapi_server.controllers.entities_controller
  /{currency}/entities/{entity}:
    get:
      operationId: get_entity
      parameters:
      - description: The cryptocurrency (e.g., btc)
        example: btc
        explode: false
        in: path
        name: currency
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: The entity ID
        example: 67065
        explode: false
        in: path
        name: entity
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Whether tags should be included
        explode: true
        in: query
        name: include_tags
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/entity'
          description: OK
      summary: Get an entity, optionally with tags
      tags:
      - entities
      x-openapi-router-controller: openapi_server.controllers.entities_controller
  /{currency}/entities/{entity}/addresses:
    get:
      operationId: list_entity_addresses
      parameters:
      - description: The cryptocurrency (e.g., btc)
        example: btc
        explode: false
        in: path
        name: currency
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: The entity ID
        example: 67065
        explode: false
        in: path
        name: entity
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Resumption token for retrieving the next page
        example: 0400030bff00f07fffff9b00
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: string
        style: form
      - description: Number of items returned in a single page
        example: 10
        explode: true
        in: query
        name: pagesize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/entity_addresses'
          description: OK
      summary: Get an entity's addresses
      tags:
      - entities
      x-openapi-router-controller: openapi_server.controllers.entities_controller
  /{currency}/entities/{entity}/addresses.csv:
    get:
      operationId: list_entity_addresses_csv
      parameters:
      - description: The cryptocurrency (e.g., btc)
        example: btc
        explode: false
        in: path
        name: currency
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: The entity ID
        example: 67065
        explode: false
        in: path
        name: entity
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            text/csv:
              schema:
                type: string
          description: OK
      summary: Get an entity's addresses as CSV
      tags:
      - entities
      x-openapi-router-controller: openapi_server.controllers.entities_controller
  /{currency}/entities/{entity}/neighbors:
    get:
      operationId: list_entity_neighbors
      parameters:
      - description: The cryptocurrency (e.g., btc)
        example: btc
        explode: false
        in: path
        name: currency
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: The entity ID
        example: 67065
        explode: false
        in: path
        name: entity
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Incoming or outgoing neighbors
        example: out
        explode: true
        in: query
        name: direction
        required: true
        schema:
          enum:
          - in
          - out
          type: string
        style: form
      - description: Restrict result to given set of comma separated IDs
        explode: true
        in: query
        name: ids
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Resumption token for retrieving the next page
        example: 0400030bff00f07fffff9b00
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: string
        style: form
      - description: Number of items returned in a single page
        example: 10
        explode: true
        in: query
        name: pagesize
        required: false
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/neighbors'
          description: OK
      summary: Get an entity's neighbors in the entity graph
      tags:
      - entities
      x-openapi-router-controller: openapi_server.controllers.entities_controller
  /{currency}/entities/{entity}/neighbors.csv:
    get:
      operationId: list_entity_neighbors_csv
      parameters:
      - description: The cryptocurrency (e.g., btc)
        example: btc
        explode: false
        in: path
        name: currency
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: The entity ID
        example: 67065
        explode: false
        in: path
        name: entity
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Incoming or outgoing neighbors
        example: out
        explode: true
        in: query
        name: direction
        required: true
        schema:
          enum:
          - in
          - out
          type: string
        style: form
      responses:
        "200":
          content:
            text/csv:
              schema:
                type: string
          description: OK
      summary: Get an entity's neighbors in the entity graph as CSV
      tags:
      - entities
      x-openapi-router-controller: openapi_server.controllers.entities_controller
  /{currency}/entities/{entity}/search:
    get:
      operationId: search_entity_neighbors
      parameters:
      - description: The cryptocurrency (e.g., btc)
        example: btc
        explode: false
        in: path
        name: currency
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: The entity ID
        example: 67065
        explode: false
        in: path
        name: entity
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Incoming or outgoing neighbors
        example: out
        explode: true
        in: query
        name: direction
        required: true
        schema:
          enum:
          - in
          - out
          type: string
        style: form
      - description: 'Match neighbors against one and only one of these properties:
          - the category the entity belongs to - addresses the entity contains - total_received:
          amount the entity received in total - balance: amount the entity holds finally'
        example: category
        explode: true
        in: query
        name: key
        required: true
        schema:
          enum:
          - category
          - addresses
          - entities
          - total_received
          - balance
          type: string
        style: form
      - description: 'If key is - category: comma separated list of category names
          - addresses: comma separated list of address IDs - entities: comma separated
          list of entity IDs - total_received/balance: comma separated tuple of (currency,
          min, max)'
        example: Miner
        explode: true
        in: query
        name: value
        required: true
        schema:
          items:
            type: string
          type: array
        style: form
      - description: How many hops should the transaction graph be searched
        example: 2
        explode: true
        in: query
        name: depth
        required: true
        schema:
          format: int32
          maximum: 7
          type: integer
        style: form
      - description: How many siblings of each neighbor should be tried
        explode: true
        in: query
        name: breadth
        required: false
        schema:
          default: 16
          format: int32
          type: integer
        style: form
      - description: Skip entities containing more addresses
        explode: true
        in: query
        name: skip_num_addresses
        required: false
        schema:
          format: int32
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/search_result_level1'
                type: array
          description: OK
      summary: Search deeply for matching neighbors
      tags:
      - entities
      x-openapi-router-controller: openapi_server.controllers.entities_controller
  /{currency}/entities/{entity}/tags:
    get:
      operationId: list_tags_by_entity
      parameters:
      - description: The cryptocurrency (e.g., btc)
        example: btc
        explode: false
        in: path
        name: currency
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: The entity ID
        example: 67065
        explode: false
        in: path
        name: entity
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tags_by_entity'
          description: OK
      summary: Get tags for a given entity
      tags:
      - entities
      x-openapi-router-controller: openapi_server.controllers.entities_controller
  /{currency}/entities/{entity}/tags.csv:
    get:
      operationId: list_tags_by_entity_by_level_csv
      parameters:
      - description: The cryptocurrency (e.g., btc)
        example: btc
        explode: false
        in: path
        name: currency
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: The entity ID
        example: 67065
        explode: false
        in: path
        name: entity
        required: true
        schema:
          format: int64
          type: integer
        style: simple
      - description: Whether tags on the address or entity level are requested
        example: address
        explode: true
        in: query
        name: level
        required: true
        schema:
          enum:
          - address
          - entity
          type: string
        style: form
      responses:
        "200":
          content:
            application/csv:
              schema:
                type: string
          description: OK
      summary: Get address or entity tags for a given entity as CSV
      tags:
      - entities
      x-openapi-router-controller: openapi_server.controllers.entities_controller
  /{currency}/rates/{height}:
    get:
      operationId: get_exchange_rates
      parameters:
      - description: The cryptocurrency (e.g., btc)
        example: btc
        explode: false
        in: path
        name: currency
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: The block height
        example: 1
        explode: false
        in: path
        name: height
        required: true
        schema:
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rates'
          description: OK
      summary: Returns exchange rate for a given height
      tags:
      - rates
      x-openapi-router-controller: openapi_server.controllers.rates_controller
  /{currency}/txs:
    get:
      operationId: list_txs
      parameters:
      - description: The cryptocurrency (e.g., btc)
        example: btc
        explode: false
        in: path
        name: currency
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: Resumption token for retrieving the next page
        example: 0400030bff00f07fffff9b00
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/txs'
          description: OK
      summary: Returns transactions
      tags:
      - txs
      x-openapi-router-controller: openapi_server.controllers.txs_controller
  /{currency}/txs/{tx_hash}:
    get:
      operationId: get_tx
      parameters:
      - description: The cryptocurrency (e.g., btc)
        example: btc
        explode: false
        in: path
        name: currency
        required: true
        schema:
          format: string
          type: string
        style: simple
      - description: The transaction hash
        example: ab188013
        explode: false
        in: path
        name: tx_hash
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tx'
          description: OK
      summary: Returns details of a specific transaction identified by its hash.
      tags:
      - txs
      x-openapi-router-controller: openapi_server.controllers.txs_controller
components:
  parameters:
    currency:
      description: The cryptocurrency (e.g., btc)
      example: btc
      explode: false
      in: path
      name: currency
      required: true
      schema:
        format: string
        type: string
      style: simple
    currency_query:
      description: The cryptocurrency (e.g., btc)
      example: btc
      explode: true
      in: query
      name: currency
      required: false
      schema:
        format: string
        type: string
      style: form
    height:
      description: The block height
      example: 1
      explode: false
      in: path
      name: height
      required: true
      schema:
        minimum: 1
        type: integer
      style: simple
    page:
      description: Resumption token for retrieving the next page
      example: 0400030bff00f07fffff9b00
      explode: true
      in: query
      name: page
      required: false
      schema:
        type: string
      style: form
    pagesize:
      description: Number of items returned in a single page
      example: 10
      explode: true
      in: query
      name: pagesize
      required: false
      schema:
        maximum: 1000
        minimum: 1
        type: integer
      style: form
    direction:
      description: Incoming or outgoing neighbors
      example: out
      explode: true
      in: query
      name: direction
      required: true
      schema:
        enum:
        - in
        - out
        type: string
      style: form
    address:
      description: The cryptocurrency address
      example: 1Archive1n2C579dMsAu3iC6tWzuQJz8dN
      explode: false
      in: path
      name: address
      required: true
      schema:
        format: string
        type: string
      style: simple
    hex_address:
      description: The cryptocurrency address in hexadecimal representation
      example: "123456"
      explode: false
      in: path
      name: address
      required: true
      schema:
        format: string
        type: string
      style: simple
    neighbor:
      description: Neighbor address
      example: 17DfZja1713S3JRWA9jaebCKFM5anUh7GG
      explode: true
      in: query
      name: neighbor
      required: true
      schema:
        type: string
      style: form
    hex_neighbor:
      description: Neighbor address in hexadecimal representation
      example: "123456"
      explode: true
      in: query
      name: neighbor
      required: true
      schema:
        type: string
      style: form
    entity:
      description: The entity ID
      example: 67065
      explode: false
      in: path
      name: entity
      required: true
      schema:
        format: int64
        type: integer
      style: simple
    tx_hash:
      description: The transaction hash
      example: ab188013
      explode: false
      in: path
      name: tx_hash
      required: true
      schema:
        type: string
      style: simple
    ids:
      description: Restrict result to given set of comma separated IDs
      explode: true
      in: query
      name: ids
      required: false
      schema:
        items:
          type: string
        type: array
      style: form
    ids_required:
      description: Set of comma separated IDs
      explode: true
      in: query
      name: ids
      required: true
      schema:
        items:
          type: string
        type: array
      style: form
      x-graphsense-rest-test-example: '"1,2"'
    include_tags:
      description: Whether tags should be included
      explode: true
      in: query
      name: include_tags
      required: false
      schema:
        type: boolean
      style: form
    tag_level:
      description: Whether tags on the address or entity level are requested
      example: address
      explode: true
      in: query
      name: level
      required: true
      schema:
        enum:
        - address
        - entity
        type: string
      style: form
    search_key:
      description: 'Match neighbors against one and only one of these properties:
        - the category the entity belongs to - addresses the entity contains - total_received:
        amount the entity received in total - balance: amount the entity holds finally'
      example: category
      explode: true
      in: query
      name: key
      required: true
      schema:
        enum:
        - category
        - addresses
        - entities
        - total_received
        - balance
        type: string
      style: form
    search_value:
      description: 'If key is - category: comma separated list of category names -
        addresses: comma separated list of address IDs - entities: comma separated
        list of entity IDs - total_received/balance: comma separated tuple of (currency,
        min, max)'
      example: Miner
      explode: true
      in: query
      name: value
      required: true
      schema:
        items:
          type: string
        type: array
      style: form
    depth:
      description: How many hops should the transaction graph be searched
      example: 2
      explode: true
      in: query
      name: depth
      required: true
      schema:
        format: int32
        maximum: 7
        type: integer
      style: form
    breadth:
      description: How many siblings of each neighbor should be tried
      explode: true
      in: query
      name: breadth
      required: false
      schema:
        default: 16
        format: int32
        type: integer
      style: form
    skip_num_addresses:
      description: Skip entities containing more addresses
      explode: true
      in: query
      name: skip_num_addresses
      required: false
      schema:
        format: int32
        type: integer
      style: form
    label:
      description: The label of an entity
      example: cimedy
      explode: true
      in: query
      name: label
      required: true
      schema:
        type: string
      style: form
    taxonomy:
      description: The taxonomy
      example: foo
      explode: false
      in: path
      name: taxonomy
      required: true
      schema:
        type: string
      style: simple
    search_query:
      description: It can be (the beginning of) an address, a transaction or a label
      example: foo
      explode: true
      in: query
      name: q
      required: true
      schema:
        minLength: 3
        pattern: ^[\w ]+$
        type: string
      style: form
    limit:
      description: Maximum number of search results
      example: 10
      explode: true
      in: query
      name: limit
      required: false
      schema:
        type: integer
      style: form
  schemas:
    stats:
      example:
        notes:
        - note: note
        - note: note
        tags_source:
          visible_name: visible_name
          report_uuid: report_uuid
          id: id
          version: version
        version:
          file: file
          nr: nr
          hash: hash
          timestamp: timestamp
        tools:
        - visible_name: visible_name
          responsible_for:
          - responsible_for
          - responsible_for
          id: id
          titanium_replayable: true
          version: version
        - visible_name: visible_name
          responsible_for:
          - responsible_for
          - responsible_for
          id: id
          titanium_replayable: true
          version: version
        currencies:
        - notes:
          - notes
          - notes
          no_addresses: 1
          no_labels: 2
          name: name
          no_entities: 5
          no_address_relations: 6
          tools:
          - tools
          - tools
          no_blocks: 0
          data_sources:
          - visible_name: visible_name
            report_uuid: report_uuid
            id: id
            version:
              nr: nr
              timestamp: timestamp
          - visible_name: visible_name
            report_uuid: report_uuid
            id: id
            version:
              nr: nr
              timestamp: timestamp
          no_txs: 5
          timestamp: 7
        - notes:
          - notes
          - notes
          no_addresses: 1
          no_labels: 2
          name: name
          no_entities: 5
          no_address_relations: 6
          tools:
          - tools
          - tools
          no_blocks: 0
          data_sources:
          - visible_name: visible_name
            report_uuid: report_uuid
            id: id
            version:
              nr: nr
              timestamp: timestamp
          - visible_name: visible_name
            report_uuid: report_uuid
            id: id
            version:
              nr: nr
              timestamp: timestamp
          no_txs: 5
          timestamp: 7
      properties:
        currencies:
          items:
            $ref: '#/components/schemas/currency_stats'
          title: currencies
          type: array
        version:
          $ref: '#/components/schemas/stats_version'
        tools:
          items:
            $ref: '#/components/schemas/stats_tool'
          title: tools
          type: array
        tags_source:
          $ref: '#/components/schemas/stats_tags_source'
        notes:
          items:
            $ref: '#/components/schemas/stats_note'
          title: notes
          type: array
      title: stats
      type: object
    stats_version:
      example:
        file: file
        nr: nr
        hash: hash
        timestamp: timestamp
      properties:
        nr:
          title: nr
          type: string
        hash:
          title: hash
          type: string
        timestamp:
          title: timestamp
          type: string
        file:
          title: file
          type: string
      title: stats_version
      type: object
    stats_tool:
      example:
        visible_name: visible_name
        responsible_for:
        - responsible_for
        - responsible_for
        id: id
        titanium_replayable: true
        version: version
      properties:
        visible_name:
          title: visible_name
          type: string
        id:
          title: id
          type: string
        version:
          title: version
          type: string
        titanium_replayable:
          title: titanium_replayable
          type: boolean
        responsible_for:
          items:
            type: string
          title: responsible_for
          type: array
      title: stats_tool
      type: object
    stats_tags_source:
      example:
        visible_name: visible_name
        report_uuid: report_uuid
        id: id
        version: version
      properties:
        visible_name:
          title: visible_name
          type: string
        id:
          title: id
          type: string
        version:
          title: version
          type: string
        report_uuid:
          title: report_uuid
          type: string
      title: stats_tags_source
      type: object
    stats_note:
      example:
        note: note
      properties:
        note:
          title: note
          type: string
      title: stats_note
      type: object
    currency_stats:
      example:
        notes:
        - notes
        - notes
        no_addresses: 1
        no_labels: 2
        name: name
        no_entities: 5
        no_address_relations: 6
        tools:
        - tools
        - tools
        no_blocks: 0
        data_sources:
        - visible_name: visible_name
          report_uuid: report_uuid
          id: id
          version:
            nr: nr
            timestamp: timestamp
        - visible_name: visible_name
          report_uuid: report_uuid
          id: id
          version:
            nr: nr
            timestamp: timestamp
        no_txs: 5
        timestamp: 7
      properties:
        name:
          title: name
          type: string
        no_blocks:
          format: int64
          title: no_blocks
          type: integer
        no_address_relations:
          format: int64
          title: no_address_relations
          type: integer
        no_addresses:
          format: int64
          title: no_addresses
          type: integer
        no_entities:
          format: int64
          title: no_entities
          type: integer
        no_txs:
          format: int64
          title: no_txs
          type: integer
        no_labels:
          format: int64
          title: no_labels
          type: integer
        timestamp:
          format: int64
          title: timestamp
          type: integer
        tools:
          items:
            type: string
          title: tools
          type: array
        notes:
          items:
            type: string
          title: notes
          type: array
        data_sources:
          items:
            $ref: '#/components/schemas/stats_ledger'
          title: data_sources
          type: array
      title: statistics of a cryptocurrency
      type: object
    stats_ledger:
      example:
        visible_name: visible_name
        report_uuid: report_uuid
        id: id
        version:
          nr: nr
          timestamp: timestamp
      properties:
        visible_name:
          title: visible_name
          type: string
        id:
          title: id
          type: string
        version:
          $ref: '#/components/schemas/stats_ledger_version'
        report_uuid:
          title: report_uuid
          type: string
      title: stats_ledger
      type: object
    stats_ledger_version:
      example:
        nr: nr
        timestamp: timestamp
      properties:
        nr:
          title: nr
          type: string
        timestamp:
          title: timestamp
          type: string
      title: stats_ledger_version
      type: object
    block:
      example:
        block_hash: block_hash
        height: 1
        no_txs: 6
        timestamp: 1
      properties:
        block_hash:
          format: string
          title: block_hash
          type: string
        height:
          description: Height
          format: int64
          minimum: 1
          title: height
          type: integer
        no_txs:
          format: int64
          title: no_txs
          type: integer
        timestamp:
          format: int64
          title: timestamp
          type: integer
      title: block
      type: object
    block_tx:
      discriminator:
        mapping:
          utxo: '#/components/schemas/block_tx_utxo'
          account: '#/components/schemas/tx_account'
        propertyName: currency_type
      oneOf:
      - $ref: '#/components/schemas/block_tx_utxo'
      - $ref: '#/components/schemas/tx_account'
      title: block_tx
    block_tx_utxo:
      properties:
        currency_type:
          default: utxo
          type: string
        tx_hash:
          type: string
        no_inputs:
          format: int64
          type: integer
        no_outputs:
          format: int64
          type: integer
        total_input:
          $ref: '#/components/schemas/values'
        total_output:
          $ref: '#/components/schemas/values'
      required:
      - currency_type
      - no_inputs
      - no_outputs
      - total_input
      - total_output
      - tx_hash
      type: object
    blocks:
      example:
        next_page: next_page
        blocks:
        - block_hash: block_hash
          height: 1
          no_txs: 6
          timestamp: 1
        - block_hash: block_hash
          height: 1
          no_txs: 6
          timestamp: 1
      properties:
        next_page:
          format: string
          title: next_page
          type: string
        blocks:
          items:
            $ref: '#/components/schemas/block'
          title: blocks
          type: array
      title: blocks
      type: object
    address:
      example:
        total_spent:
          eur: 0.8008282
          usd: 6.0274563
          value: 1
        in_degree: 2
        address: address
        balance:
          eur: 0.8008282
          usd: 6.0274563
          value: 1
        no_incoming_txs: 9
        out_degree: 7
        no_outgoing_txs: 3
        first_tx:
          tx_hash: tx_hash
          height: 1
          timestamp: 5
        last_tx:
          tx_hash: tx_hash
          height: 1
          timestamp: 5
        total_received:
          eur: 0.8008282
          usd: 6.0274563
          value: 1
        tags:
        - null
        - null
      properties:
        address:
          description: Address
          title: address
          type: string
        balance:
          $ref: '#/components/schemas/values'
        first_tx:
          $ref: '#/components/schemas/tx_summary'
        last_tx:
          $ref: '#/components/schemas/tx_summary'
        in_degree:
          format: int64
          title: in_degree
          type: integer
        out_degree:
          format: int64
          title: out_degree
          type: integer
        no_incoming_txs:
          format: int64
          title: no_incoming_txs
          type: integer
        no_outgoing_txs:
          format: int64
          title: no_outgoing_txs
          type: integer
        total_received:
          $ref: '#/components/schemas/values'
        total_spent:
          $ref: '#/components/schemas/values'
        tags:
          description: Tags
          items:
            $ref: '#/components/schemas/address_tag'
          title: tags
          type: array
      required:
      - address
      - balance
      - first_tx
      - in_degree
      - last_tx
      - no_incoming_txs
      - no_outgoing_txs
      - out_degree
      - total_received
      - total_spent
      title: address
      type: object
    addresses:
      example:
        next_page: next_page
        addresses:
        - total_spent:
            eur: 0.8008282
            usd: 6.0274563
            value: 1
          in_degree: 2
          address: address
          balance:
            eur: 0.8008282
            usd: 6.0274563
            value: 1
          no_incoming_txs: 9
          out_degree: 7
          no_outgoing_txs: 3
          first_tx:
            tx_hash: tx_hash
            height: 1
            timestamp: 5
          last_tx:
            tx_hash: tx_hash
            height: 1
            timestamp: 5
          total_received:
            eur: 0.8008282
            usd: 6.0274563
            value: 1
          tags:
          - null
          - null
        - total_spent:
            eur: 0.8008282
            usd: 6.0274563
            value: 1
          in_degree: 2
          address: address
          balance:
            eur: 0.8008282
            usd: 6.0274563
            value: 1
          no_incoming_txs: 9
          out_degree: 7
          no_outgoing_txs: 3
          first_tx:
            tx_hash: tx_hash
            height: 1
            timestamp: 5
          last_tx:
            tx_hash: tx_hash
            height: 1
            timestamp: 5
          total_received:
            eur: 0.8008282
            usd: 6.0274563
            value: 1
          tags:
          - null
          - null
      properties:
        next_page:
          format: string
          title: next_page
          type: string
        addresses:
          items:
            $ref: '#/components/schemas/address'
          title: addresses
          type: array
      title: addresses
      type: object
    entity:
      example:
        total_spent:
          eur: 0.8008282
          usd: 6.0274563
          value: 1
        in_degree: 0
        balance:
          eur: 0.8008282
          usd: 6.0274563
          value: 1
        no_addresses: 1
        no_incoming_txs: 5
        out_degree: 6
        no_outgoing_txs: 5
        first_tx:
          tx_hash: tx_hash
          height: 1
          timestamp: 5
        last_tx:
          tx_hash: tx_hash
          height: 1
          timestamp: 5
        entity: entity
        total_received:
          eur: 0.8008282
          usd: 6.0274563
          value: 1
        tags:
          entity_tags:
          - null
          - null
          address_tags:
          - null
          - null
          tag_coherence: 2.302136
      properties:
        entity:
          description: Entity id
          title: entity
          type: string
        balance:
          $ref: '#/components/schemas/values'
        first_tx:
          $ref: '#/components/schemas/tx_summary'
        last_tx:
          $ref: '#/components/schemas/tx_summary'
        in_degree:
          format: int64
          title: in_degree
          type: integer
        out_degree:
          format: int64
          title: out_degree
          type: integer
        no_addresses:
          description: number of contained addresses
          format: int64
          title: no_addresses
          type: integer
        no_incoming_txs:
          format: int64
          title: no_incoming_txs
          type: integer
        no_outgoing_txs:
          format: int64
          title: no_outgoing_txs
          type: integer
        total_received:
          $ref: '#/components/schemas/values'
        total_spent:
          $ref: '#/components/schemas/values'
        tags:
          $ref: '#/components/schemas/tags_by_entity'
      required:
      - balance
      - entity
      - first_tx
      - in_degree
      - last_tx
      - no_addresses
      - no_incoming_txs
      - no_outgoing_txs
      - out_degree
      - total_received
      - total_spent
      title: entity
      type: object
    tags_by_entity:
      example:
        entity_tags:
        - null
        - null
        address_tags:
        - null
        - null
        tag_coherence: 2.302136
      properties:
        address_tags:
          description: Aggregated tags of contained addresses
          items:
            $ref: '#/components/schemas/entity_tag'
          title: address_tags
          type: array
        entity_tags:
          description: Tags of this entity
          items:
            $ref: '#/components/schemas/entity_tag'
          title: entity_tags
          type: array
        tag_coherence:
          description: Tag coherence
          format: float
          title: tag_coherence
          type: number
      required:
      - address_tags
      - entity_tags
      title: tags_by_entity
      type: object
    entities:
      example:
        next_page: next_page
        entities:
        - total_spent:
            eur: 0.8008282
            usd: 6.0274563
            value: 1
          in_degree: 0
          balance:
            eur: 0.8008282
            usd: 6.0274563
            value: 1
          no_addresses: 1
          no_incoming_txs: 5
          out_degree: 6
          no_outgoing_txs: 5
          first_tx:
            tx_hash: tx_hash
            height: 1
            timestamp: 5
          last_tx:
            tx_hash: tx_hash
            height: 1
            timestamp: 5
          entity: entity
          total_received:
            eur: 0.8008282
            usd: 6.0274563
            value: 1
          tags:
            entity_tags:
            - null
            - null
            address_tags:
            - null
            - null
            tag_coherence: 2.302136
        - total_spent:
            eur: 0.8008282
            usd: 6.0274563
            value: 1
          in_degree: 0
          balance:
            eur: 0.8008282
            usd: 6.0274563
            value: 1
          no_addresses: 1
          no_incoming_txs: 5
          out_degree: 6
          no_outgoing_txs: 5
          first_tx:
            tx_hash: tx_hash
            height: 1
            timestamp: 5
          last_tx:
            tx_hash: tx_hash
            height: 1
            timestamp: 5
          entity: entity
          total_received:
            eur: 0.8008282
            usd: 6.0274563
            value: 1
          tags:
            entity_tags:
            - null
            - null
            address_tags:
            - null
            - null
            tag_coherence: 2.302136
      properties:
        next_page:
          format: string
          title: next_page
          type: string
        entities:
          items:
            $ref: '#/components/schemas/entity'
          title: entities
          type: array
      title: entities
      type: object
    address_txs:
      example:
        next_page: next_page
        address_txs:
        - null
        - null
      properties:
        next_page:
          format: string
          title: next_page
          type: string
        address_txs:
          items:
            $ref: '#/components/schemas/address_tx'
          title: address_txs
          type: array
      title: address_txs
      type: object
    address_tx:
      discriminator:
        mapping:
          utxo: '#/components/schemas/address_tx_utxo'
          account: '#/components/schemas/tx_account'
        propertyName: currency_type
      oneOf:
      - $ref: '#/components/schemas/address_tx_utxo'
      - $ref: '#/components/schemas/tx_account'
      title: address_tx
    address_tx_utxo:
      properties:
        currency_type:
          default: utxo
          type: string
        height:
          description: Height
          format: int64
          minimum: 1
          title: height
          type: integer
        timestamp:
          description: Timestamp
          format: int64
          title: timestamp
          type: integer
        tx_hash:
          description: Transaction hash
          title: tx_hash
          type: string
        value:
          $ref: '#/components/schemas/values'
      required:
      - currency_type
      - height
      - timestamp
      - tx_hash
      - value
      type: object
    tx_summary:
      example:
        tx_hash: tx_hash
        height: 1
        timestamp: 5
      properties:
        height:
          description: Height
          format: int64
          minimum: 1
          title: height
          type: integer
        timestamp:
          description: Timestamp
          format: int64
          title: timestamp
          type: integer
        tx_hash:
          description: Transaction hash
          title: tx_hash
          type: string
      required:
      - height
      - timestamp
      - tx_hash
      title: tx_summary
      type: object
    address_tag:
      allOf:
      - $ref: '#/components/schemas/tag'
      - $ref: '#/components/schemas/address_tag_allOf'
      title: address_tag
    entity_tag:
      allOf:
      - $ref: '#/components/schemas/tag'
      - $ref: '#/components/schemas/entity_tag_allOf'
      title: entity_tag
    tag:
      properties:
        label:
          description: Label
          title: label
          type: string
        category:
          description: Category
          type: string
        abuse:
          description: Abuses
          type: string
        tagpack_uri:
          description: Tagpack URI
          type: string
        source:
          description: Source
          type: string
        lastmod:
          description: Last modified
          format: int32
          type: integer
        active:
          description: whether the address has been ever used
          type: boolean
        currency:
          description: Currency
          type: string
      required:
      - active
      - currency
      - label
      type: object
    values:
      example:
        eur: 0.8008282
        usd: 6.0274563
        value: 1
      properties:
        eur:
          format: float
          title: eur
          type: number
        usd:
          format: float
          title: usd
          type: number
        value:
          format: int64
          title: value
          type: integer
      title: values
      type: object
    next_page:
      format: string
      title: next_page
      type: string
    address_id:
      description: Address
      title: address
      type: string
    entity_id:
      description: Entity id
      title: entity
      type: string
    height:
      description: Height
      format: int64
      minimum: 1
      title: height
      type: integer
    timestamp:
      description: Timestamp
      format: int64
      title: timestamp
      type: integer
    currency_type:
      description: Discriminator for different kinds of currency types
      type: string
    tx_hash:
      description: Transaction hash
      title: tx_hash
      type: string
    no_addresses:
      description: number of contained addresses
      format: int64
      title: no_addresses
      type: integer
    neighbors:
      example:
        next_page: next_page
        neighbors:
        - node_type: address
          balance:
            eur: 0.8008282
            usd: 6.0274563
            value: 1
          received:
            eur: 0.8008282
            usd: 6.0274563
            value: 1
          id: id
          estimated_value:
            eur: 0.8008282
            usd: 6.0274563
            value: 1
          has_labels: true
          no_txs: 0
        - node_type: address
          balance:
            eur: 0.8008282
            usd: 6.0274563
            value: 1
          received:
            eur: 0.8008282
            usd: 6.0274563
            value: 1
          id: id
          estimated_value:
            eur: 0.8008282
            usd: 6.0274563
            value: 1
          has_labels: true
          no_txs: 0
      properties:
        next_page:
          format: string
          title: next_page
          type: string
        neighbors:
          items:
            $ref: '#/components/schemas/neighbor'
          title: neighbors
          type: array
      title: neighbors
      type: object
    neighbor:
      example:
        node_type: address
        balance:
          eur: 0.8008282
          usd: 6.0274563
          value: 1
        received:
          eur: 0.8008282
          usd: 6.0274563
          value: 1
        id: id
        estimated_value:
          eur: 0.8008282
          usd: 6.0274563
          value: 1
        has_labels: true
        no_txs: 0
      properties:
        id:
          description: address or entity id
          title: id
          type: string
        node_type:
          description: address or entity
          enum:
          - address
          - entity
          title: node_type
          type: string
        has_labels:
          description: has labels
          title: has_labels
          type: boolean
        balance:
          $ref: '#/components/schemas/values'
        received:
          $ref: '#/components/schemas/values'
        estimated_value:
          $ref: '#/components/schemas/values'
        no_txs:
          description: number of transactions
          format: int32
          title: no_txs
          type: integer
      required:
      - balance
      - estimated_value
      - has_labels
      - id
      - no_txs
      - node_type
      - received
      title: neighbor
      type: object
    link:
      discriminator:
        mapping:
          utxo: '#/components/schemas/link_utxo'
          account: '#/components/schemas/tx_account'
        propertyName: currency_type
      oneOf:
      - $ref: '#/components/schemas/link_utxo'
      - $ref: '#/components/schemas/tx_account'
      title: link
    link_utxo:
      properties:
        currency_type:
          default: utxo
          type: string
        tx_hash:
          description: Transaction hash
          title: tx_hash
          type: string
        height:
          description: Height
          format: int64
          minimum: 1
          title: height
          type: integer
        timestamp:
          description: Timestamp
          format: int64
          title: timestamp
          type: integer
        input_value:
          $ref: '#/components/schemas/values'
        output_value:
          $ref: '#/components/schemas/values'
      required:
      - currency_type
      - height
      - input_value
      - output_value
      - timestamp
      - tx_hash
      type: object
    entity_addresses:
      example:
        next_page: next_page
        addresses:
        - total_spent:
            eur: 0.8008282
            usd: 6.0274563
            value: 1
          in_degree: 2
          address: address
          balance:
            eur: 0.8008282
            usd: 6.0274563
            value: 1
          no_incoming_txs: 9
          out_degree: 7
          no_outgoing_txs: 3
          first_tx:
            tx_hash: tx_hash
            height: 1
            timestamp: 5
          last_tx:
            tx_hash: tx_hash
            height: 1
            timestamp: 5
          total_received:
            eur: 0.8008282
            usd: 6.0274563
            value: 1
          tags:
          - null
          - null
        - total_spent:
            eur: 0.8008282
            usd: 6.0274563
            value: 1
          in_degree: 2
          address: address
          balance:
            eur: 0.8008282
            usd: 6.0274563
            value: 1
          no_incoming_txs: 9
          out_degree: 7
          no_outgoing_txs: 3
          first_tx:
            tx_hash: tx_hash
            height: 1
            timestamp: 5
          last_tx:
            tx_hash: tx_hash
            height: 1
            timestamp: 5
          total_received:
            eur: 0.8008282
            usd: 6.0274563
            value: 1
          tags:
          - null
          - null
      properties:
        next_page:
          format: string
          title: next_page
          type: string
        addresses:
          items:
            $ref: '#/components/schemas/address'
          title: addresses
          type: array
      title: entity_addresses
      type: object
    search_result_level1:
      allOf:
      - $ref: '#/components/schemas/search_result_leaf'
      - $ref: '#/components/schemas/search_result_level1_allOf'
      title: search_result_level1
    search_result_level2:
      allOf:
      - $ref: '#/components/schemas/search_result_leaf'
      - $ref: '#/components/schemas/search_result_level2_allOf'
      title: search_result_level2
    search_result_level3:
      allOf:
      - $ref: '#/components/schemas/search_result_leaf'
      - $ref: '#/components/schemas/search_result_level3_allOf'
      title: search_result_level3
    search_result_level4:
      allOf:
      - $ref: '#/components/schemas/search_result_leaf'
      - $ref: '#/components/schemas/search_result_level4_allOf'
      title: search_result_level4
    search_result_leaf:
      properties:
        node:
          $ref: '#/components/schemas/entity'
        relation:
          $ref: '#/components/schemas/neighbor'
        matching_addresses:
          items:
            $ref: '#/components/schemas/address'
          title: matching_addresses
          type: array
      title: search_result_leaf
      type: object
    tx_utxo:
      properties:
        currency_type:
          default: utxo
          type: string
        tx_hash:
          description: Transaction hash
          title: tx_hash
          type: string
        coinbase:
          description: Coinbase transaction flag
          type: boolean
        height:
          description: Height
          format: int64
          minimum: 1
          title: height
          type: integer
        inputs:
          description: Transaction inputs/outputs
          items:
            $ref: '#/components/schemas/tx_value'
          type: array
        outputs:
          description: Transaction inputs/outputs
          items:
            $ref: '#/components/schemas/tx_value'
          type: array
        timestamp:
          description: Timestamp
          format: int64
          title: timestamp
          type: integer
        total_input:
          $ref: '#/components/schemas/values'
        total_output:
          $ref: '#/components/schemas/values'
      required:
      - coinbase
      - currency_type
      - height
      - inputs
      - outputs
      - timestamp
      - total_input
      - total_output
      - tx_hash
      type: object
    tx_values:
      description: Transaction inputs/outputs
      items:
        $ref: '#/components/schemas/tx_value'
      type: array
    tx_value:
      properties:
        address:
          items:
            $ref: '#/components/schemas/address_id'
          title: address
          type: array
        value:
          $ref: '#/components/schemas/values'
      required:
      - address
      - value
      title: tx_value
      type: object
    txs:
      example:
        next_page: next_page
        txs:
        - null
        - null
      properties:
        next_page:
          format: string
          title: next_page
          type: string
        txs:
          items:
            $ref: '#/components/schemas/tx'
          title: txs
          type: array
      title: txs
      type: object
    tx_account:
      properties:
        currency_type:
          default: account
          type: string
        tx_hash:
          description: Transaction hash
          title: tx_hash
          type: string
        height:
          description: Height
          format: int64
          minimum: 1
          title: height
          type: integer
        timestamp:
          description: Timestamp
          format: int64
          title: timestamp
          type: integer
        values:
          $ref: '#/components/schemas/values'
      required:
      - currency_type
      - height
      - timestamp
      - tx_hash
      - values
      type: object
    tx:
      discriminator:
        mapping:
          utxo: '#/components/schemas/tx_utxo'
          account: '#/components/schemas/tx_account'
        propertyName: currency_type
      oneOf:
      - $ref: '#/components/schemas/tx_utxo'
      - $ref: '#/components/schemas/tx_account'
      title: tx
    rates:
      example:
        rates:
          eur: 6.0274563
          usd: 1.4658129
        height: 1
      properties:
        height:
          description: Height
          format: int64
          minimum: 1
          title: height
          type: integer
        rates:
          $ref: '#/components/schemas/rates_rates'
      title: rates
      type: object
    taxonomy:
      example:
        taxonomy: taxonomy
        uri: uri
      properties:
        taxonomy:
          description: Taxonomy
          title: taxonomy
          type: string
        uri:
          description: URI
          title: uri
          type: string
      required:
      - taxonomy
      - uri
      title: taxonomy
      type: object
    concept:
      example:
        description: description
        label: label
        taxonomy: taxonomy
        id: id
        uri: uri
      properties:
        label:
          description: Label
          title: label
          type: string
        taxonomy:
          description: Taxonomy
          title: taxonomy
          type: string
        uri:
          description: URI
          title: uri
          type: string
        description:
          description: Description
          title: description
          type: string
        id:
          description: ID
          title: id
          type: string
      required:
      - description
      - id
      - label
      - taxonomy
      - uri
      title: concept
      type: object
    taxonomy_key:
      description: Taxonomy
      title: taxonomy
      type: string
    label:
      description: Label
      title: label
      type: string
    uri:
      description: URI
      title: uri
      type: string
    search_result:
      example:
        currencies:
        - addresses:
          - addresses
          - addresses
          currency: currency
          txs:
          - txs
          - txs
        - addresses:
          - addresses
          - addresses
          currency: currency
          txs:
          - txs
          - txs
        labels:
        - labels
        - labels
      properties:
        currencies:
          items:
            $ref: '#/components/schemas/search_result_by_currency'
          title: currencies
          type: array
        labels:
          description: The list of matching labels
          items:
            type: string
          title: labels
          type: array
      title: search_result
      type: object
    search_result_by_currency:
      example:
        addresses:
        - addresses
        - addresses
        currency: currency
        txs:
        - txs
        - txs
      properties:
        currency:
          description: Currency
          title: currency
          type: string
        addresses:
          description: The list of found addresses
          items:
            type: string
          title: addresses
          type: array
        txs:
          description: The list of found transactions
          items:
            type: string
          title: txs
          type: array
      title: search_result_by_currency
      type: object
    search_result_labels:
      description: The list of matching labels
      items:
        type: string
      title: labels
      type: array
    address_tag_allOf:
      properties:
        address:
          description: Address
          title: address
          type: string
      required:
      - address
      type: object
    entity_tag_allOf:
      properties:
        entity:
          description: Entity id
          title: entity
          type: string
      required:
      - entity
      type: object
    search_result_level1_allOf:
      properties:
        paths:
          description: Branches to matching entities
          items:
            $ref: '#/components/schemas/search_result_level2'
          type: array
      type: object
    search_result_level2_allOf:
      properties:
        paths:
          description: Branches to matching entities
          items:
            $ref: '#/components/schemas/search_result_level3'
          type: array
      type: object
    search_result_level3_allOf:
      properties:
        paths:
          description: Branches to matching entities
          items:
            $ref: '#/components/schemas/search_result_level4'
          type: array
      type: object
    search_result_level4_allOf:
      properties:
        paths:
          description: Branches to matching entities
          items:
            $ref: '#/components/schemas/search_result_leaf'
          type: array
      type: object
    rates_rates:
      example:
        eur: 6.0274563
        usd: 1.4658129
      properties:
        eur:
          description: EUR/Crypto rate
          format: float
          title: eur
          type: number
        usd:
          description: USD/Crypto rate
          format: float
          title: usd
          type: number
      title: rates_rates
      type: object
