# coding: utf-8

import pytest
import json
from aiohttp import web
from aiohttp.test_utils import unittest_run_loop
{{#operations}}
{{#operation}}
{{#isMultipart}}
from aiohttp import FormData
{{/isMultipart}}
{{/operation}}
{{/operations}}

{{#imports}}{{import}}
{{/imports}}
from tests import BaseTestCase
import gsrest.test.{{baseName}}_service as test_service


class {{#operations}}Test{{classname}}(BaseTestCase):
    """{{classname}} integration test stubs"""
{{#operation}}

    {{#vendorExtensions.x-skip-test}}
    @pytest.mark.skip("{{reason}}")
    {{/vendorExtensions.x-skip-test}}
    @unittest_run_loop
    async def test_{{operationId}}(self):
        """Test case for {{{operationId}}}

        {{{summary}}}
        """
        await test_service.{{operationId}}(self)

{{/operation}}
{{/operations}}
