from typing import List, Dict
from aiohttp import web
import traceback
import json
import re

{{#imports}}{{import}}
{{/imports}}
import gsrest.service.{{baseName}}_service as service
from {{packageName}} import util
{{#operations}}
{{#operation}}
{{/operation}}
{{/operations}}

{{#operations}}
{{#operation}}


async def {{operationId}}(request: web.Request, {{#allParams}}{{paramName}}{{^required}}=None{{/required}}{{^-last}}, {{/-last}}{{/allParams}}) -> web.Response:
    """{{#summary}}{{.}}{{/summary}}{{^summary}}{{operationId}}{{/summary}}

    {{#notes}}{{.}}{{/notes}}

    {{#allParams}}
    :param {{paramName}}: {{description}}
        {{^isContainer}}
            {{#isPrimitiveType}}
    :type {{paramName}}: {{>param_type}}
            {{/isPrimitiveType}}
            {{#isUuid}}
    :type {{paramName}}: {{>param_type}}
            {{/isUuid}}
            {{^isPrimitiveType}}
                {{#isFile}}
    :type {{paramName}}: werkzeug.datastructures.FileStorage
                {{/isFile}}
                {{^isFile}}
                    {{^isUuid}}
    :type {{paramName}}: dict | bytes
                    {{/isUuid}}
                {{/isFile}}
            {{/isPrimitiveType}}
        {{/isContainer}}
        {{#isArray}}
            {{#items}}
                {{#isPrimitiveType}}
    :type {{paramName}}: List[{{>param_type}}]
                {{/isPrimitiveType}}
                {{^isPrimitiveType}}
    :type {{paramName}}: list | bytes
                {{/isPrimitiveType}}
            {{/items}}
        {{/isArray}}
        {{#isMap}}
            {{#items}}
                {{#isPrimitiveType}}
    :type {{paramName}}: Dict[str, {{>param_type}}]
                {{/isPrimitiveType}}
                {{^isPrimitiveType}}
    :type {{paramName}}: dict | bytes
                {{/isPrimitiveType}}
            {{/items}}
        {{/isMap}}
    {{/allParams}}

    """
    {{#allParams}}
        {{^isContainer}}
            {{#isDate}}
    {{paramName}} = util.deserialize_date({{paramName}})
            {{/isDate}}
            {{#isDateTime}}
    {{paramName}} = util.deserialize_datetime({{paramName}})
            {{/isDateTime}}
            {{^isPrimitiveType}}
                {{^isFile}}
                    {{^isUuid}}
    {{paramName}} = {{baseType}}.from_dict({{paramName}})
                    {{/isUuid}}
                {{/isFile}}
            {{/isPrimitiveType}}
        {{/isContainer}}
        {{#isArray}}
            {{#items}}
                {{#isDate}}
    {{paramName}} = [util.deserialize_date(s) for s in {{paramName}}]
                {{/isDate}}
                {{#isDateTime}}
    {{paramName}} = [util.deserialize_datetime(s) for s in {{paramName}}]
                {{/isDateTime}}
                {{#complexType}}
    {{paramName}} = [{{complexType}}.from_dict(d) for d in {{paramName}}]
                {{/complexType}}
            {{/items}}
        {{/isArray}}
        {{#isMap}}
            {{#items}}
                {{#isDate}}
    {{paramName}} = {k: util.deserialize_date(v) for k, v in {{paramName}}}
                {{/isDate}}
                {{#isDateTime}}
    {{paramName}} = {k: util.deserialize_datetime(v) for k, v in {{paramName}}}
                {{/isDateTime}}
                {{#complexType}}
    {{paramName}} = {k: {{baseType}}.from_dict(v) for k, v in {{paramName}}}
                {{/complexType}}
            {{/items}}
        {{/isMap}}
    {{/allParams}}

    for plugin in request.app['plugins']:
        if hasattr(plugin, 'before_request'):
            request = plugin.before_request(request)

    show_private_tags_conf = \
        request.app['config'].get('show_private_tags', False)
    show_private_tags = bool(show_private_tags_conf)
    if show_private_tags:
        for (k,v) in show_private_tags_conf['on_header'].items():
            hval = request.headers.get(k, None)
            if not hval:
                show_private_tags = False
                break
            show_private_tags = show_private_tags and \
                bool(re.match(re.compile(v), hval))
            
    request.app['show_private_tags'] = show_private_tags

    try:
        if 'currency' in [''{{#allParams}},'{{paramName}}'{{/allParams}}]:
            if currency is not None:
                currency = currency.lower() 
        result = service.{{operationId}}(request
                {{#allParams}},{{paramName}}={{paramName}}{{/allParams}})
        {{^vendorExtensions.x-streamed}}
        result = await result

        for plugin in request.app['plugins']:
            if hasattr(plugin, 'before_response'):
                plugin.before_response(request, result)

        if isinstance(result, list):
            result = [d.to_dict() for d in result]
        else:
            result = result.to_dict()

        result = web.Response(
                    status=200,
                    text=json.dumps(result),
                    headers={'Content-type': 'application/json'})
        {{/vendorExtensions.x-streamed}}
        return result
    except RuntimeError as e:
        traceback.print_exception(type(e), e, e.__traceback__)
        raise web.HTTPNotFound(text=str(e))
    except ValueError as e:
        traceback.print_exception(type(e), e, e.__traceback__)
        raise web.HTTPBadRequest(text=str(e))
    except TypeError as e:
        traceback.print_exception(type(e), e, e.__traceback__)
        raise web.HTTPBadRequest(text=str(e))
    except Exception as e:
        tb = traceback.format_exception(type(e), e, e.__traceback__)
        tb.append(f"Request URL: {request.url}")
        tb = "\n".join(tb)
        request.app.logger.error(tb)
        raise web.HTTPInternalServerError()
{{/operation}}
{{/operations}}
