language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"
# command to install dependencies
install:
  - pip install -r requirements.txt
  #- pip install pytest-cov
  #- pip install coveralls
  - pip install tox
# command to run tests
script:
  - tox
  #- pytest --cov=gsrest
#after_success:
  #- coveralls
